In [182]:
import pandas as pd

In [183]:
df = pd.read_csv('manhattan_set.csv',header=None,index_col=None)

/Users/preetgandhi95/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [184]:
df.head()

,0,1,2,3,4,5,6,7
0,1,B02617,2015-05-17 09:50:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
1,2,B02617,2015-05-17 09:53:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
2,3,B02617,2015-05-17 10:00:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
3,4,B02617,2015-05-17 10:00:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
4,5,B02617,2015-05-17 10:03:00,B00272,141.0,Manhattan,Lenox Hill West,1.431871e+09

In [185]:
len(df)

10375608

In [370]:
 df[df[3].isnull()]

,0,1,2,3,4,5,6,7
29,30,B02598,2015-01-18 11:12:43,NaN,141.0,Manhattan,Lenox Hill West,1.421598e+09
91,92,B02764,2015-02-05 14:13:28,NaN,141.0,Manhattan,Lenox Hill West,1.423164e+09
260,261,B02764,2015-02-05 07:37:28,NaN,141.0,Manhattan,Lenox Hill West,1.423140e+09
373,374,B02764,2015-01-05 07:31:23,NaN,141.0,Manhattan,Lenox Hill West,1.420461e+09
436,437,B02764,2015-02-06 14:48:31,NaN,141.0,Manhattan,Lenox Hill West,1.423252e+09
529,530,B02598,2015-01-19 12:15:21,NaN,141.0,Manhattan,Lenox Hill West,1.421688e+09
560,561,B02598,2015-01-19 16:58:27,NaN,141.0,Manhattan,Lenox Hill West,1.421705e+09
662,663,B02682,2015-02-08 13:57:24,NaN,141.0,Manhattan,Lenox Hill West,1.423422e+09
674,675,B02682,2015-02-08 00:20:32,NaN,141.0,Manhattan,Lenox Hill West,1.423373e+09
840,841,B02598,2015-01-01 20:08:50,NaN,141.0,Manhattan,Lenox Hill West,1.420161e+09
1263,1264,B02598,2015-01-01 06:33:48,NaN,141.0,Manhattan,Lenox Hill West,1.420112e+09
1286,1287,B02598,2015-01-01 02:40:04,NaN,141.0,Manhattan,Lenox Hill West,1.420098e+09
1383,1384,B02764,2015-01-05 19:27:01,NaN,141.0,Manhattan,Lenox Hill West,1.420504e+09
1414,1415,B02764,2015-01-05 12:14:09,NaN,141.0,Manhattan,Lenox Hill West,1.420478e+09
1482,1483,B02682,2015-01-03 19:31:12,NaN,141.0,Manhattan,Lenox Hill West,1.420331e+09
1510,1511,B02764,2015-01-05 11:41:06,NaN,141.0,Manhattan,Lenox Hill West,1.420476e+09
1521,1522,B02764,2015-01-05 10:14:02,NaN,141.0,Manhattan,Lenox Hill West,1.420471e+09
1592,1593,B02764,2015-01-05 15:27:16,NaN,141.0,Manhattan,Lenox Hill West,1.420490e+09
1799,1800,B02764,2015-02-08 18:36:31,NaN,141.0,Manhattan,Lenox Hill West,1.423439e+09
1815,1816,B02764,2015-02-08 18:07:41,NaN,141.0,Manhattan,Lenox Hill West,1.423437e+09
1848,1849,B02598,2015-01-20 05:46:22,NaN,141.0,Manhattan,Lenox Hill West,1.421751e+09
1900,1901,B02764,2015-02-03 01:31:48,NaN,141.0,Manhattan,Lenox Hill West,1.422945e+09
1923,1924,B02598,2015-01-20 13:44:37,NaN,141.0,Manhattan,Lenox Hill West,1.421779e+09
1955,1956,B02598,2015-01-20 13:44:26,NaN,141.0,Manhattan,Lenox Hill West,1.421779e+09
1988,1989,B02764,2015-01-16 13:55:33,NaN,141.0,Manhattan,Lenox Hill West,1.421435e+09
2093,2094,B02764,2015-01-17 01:27:58,NaN,141.0,Manhattan,Lenox Hill West,1.421476e+09
2094,2095,B02764,2015-01-17 20:05:59,NaN,141.0,Manhattan,Lenox Hill West,1.421543e+09
2100,2101,B02764,2015-01-17 15:06:37,NaN,141.0,Manhattan,Lenox Hill West,1.421525e+09
2141,2142,B02682,2015-01-03 20:13:38,NaN,141.0,Manhattan,Lenox Hill West,1.420334e+09
2144,2145,B02682,2015-01-03 17:30:28,NaN,141.0,Manhattan,Lenox Hill West,1.420324e+09
...,...,...,...,...,...,...,...,...
10373035,14255104,B02764,2015-01-25 16:50:43,NaN,194.0,Manhattan,Randalls Island,1.422223e+09
10373065,14255134,B02764,2015-01-11 15:01:43,NaN,194.0,Manhattan,Randalls Island,1.421007e+09
10373088,14255157,B02682,2015-01-20 20:01:47,NaN,194.0,Manhattan,Randalls Island,1.421802e+09
10373955,14259475,B02598,2015-01-21 04:01:27,NaN,128.0,Manhattan,Inwood Hill Park,1.421831e+09
10373965,14259485,B02764,2015-01-28 12:48:38,NaN,128.0,Manhattan,Inwood Hill Park,1.422467e+09
10374093,14259613,B02598,2015-02-11 12:50:57,NaN,128.0,Manhattan,Inwood Hill Park,1.423677e+09
10374290,14259810,B02764,2015-01-20 17:49:07,NaN,128.0,Manhattan,Inwood Hill Park,1.421794e+09
10374443,14259963,B02617,2015-01-08 14:13:58,NaN,128.0,Manhattan,Inwood Hill Park,1.420744e+09
10374457,14259977,B02617,2015-01-09 01:26:10,NaN,128.0,Manhattan,Inwood Hill Park,1.420785e+09
10374787,14260307,B02682,2015-01-23 18:04:40,NaN,128.0,Manhattan,Inwood Hill Park,1.422054e+09
10374851,14260371,B02682,2015-01-30 23:47:49,NaN,128.0,Manhattan,Inwood Hill Park,1.422680e+09
10374950,14260470,B02764,2015-01-18 19:55:41,NaN,128.0,Manhattan,Inwood Hill Park,1.421629e+09
10374955,14260475,B02764,2015-01-16 15:14:15,NaN,128.0,Manhattan,Inwood Hill Park,1.421439e+09
10375074,14260594,B02764,2015-02-15 12:09:17,NaN,128.0,Manhattan,Inwood Hill Park,1.424020e+09
10375286,14268680,B02764,2015-01-02 22:39:08,NaN,120.0,Manhattan,Highbridge Park,1.420256e+09
10375426,14268820,B02682,2015-01-18 15:55:46,NaN,120.0,Manhattan,Highbridge Park,1.421615e+09
10375523,14268917,B02765,2015-02-28 22:08:08,NaN,120.0,Manhattan,Highbridge Park,1.425179e+09
10375556,14268950,B02764,2015-02-14 20:22:36,NaN,120.0,Manhattan,Highbridge Park,1.423963e+09
10375596,"14270374,B02764,2015-05-15 17:38:00,B02764,105...",1431725880.0,NaN,NaN,NaN,NaN,NaN,NaN
10375597,"14270375,B02764,2015-01-17 11:30:49,B02764,105...",1421512249.0,NaN,NaN,NaN,NaN,NaN,NaN
10375598,"14270376,B02617,2015-06-04 20:55:00,B02617,105...",1433465700.0,NaN,NaN,NaN,NaN,NaN,NaN
10375599,"14270377,B02598,2015-03-03 14:55:00,B02598,105...",1425412500.0,NaN,NaN,NaN,NaN,NaN,NaN
10375600,"14270378,B02682,2015-05-28 20:39:00,B02682,105...",1432859940.0,NaN,NaN,NaN,NaN,NaN,NaN
10375601,"14270379,B02512,2015-01-28 17:10:23,B02764,105...",1422483023.0,NaN,NaN,NaN,NaN,NaN,NaN
10375602,"14270380,B02617,2015-01-28 10:44:35,B02764,105...",1422459875.0,NaN,NaN,NaN,NaN,NaN,NaN
10375603,"14270381,B02682,2015-05-06 01:09:00,B02682,105...",1430888940.0,NaN,NaN,NaN,NaN,NaN,NaN
10375604,"14270382,B02682,2015-02-02 14:00:45,B02682,105...",1422903645.0,NaN,NaN,NaN,NaN,NaN,NaN
10375605,"14270383,B02765,2015-02-25 16:05:31,B00412,105...",1424898331.0,NaN,NaN,NaN,NaN,NaN,NaN
10375606,"14270384,B02764,2015-02-21 15:24:41,B02764,105...",1424550281.0,NaN,NaN,NaN,NaN,NaN,NaN
10375607,"14270385,B02764,2015-02-17 12:27:37,B02764,105...",1424194057.0,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
t = df[df[7].isnull()]

In [187]:
t

,0,1,2,3,4,5,6,7
10375596,"14270374,B02764,2015-05-15 17:38:00,B02764,105...",1431725880.0,NaN,NaN,NaN,NaN,NaN,NaN
10375597,"14270375,B02764,2015-01-17 11:30:49,B02764,105...",1421512249.0,NaN,NaN,NaN,NaN,NaN,NaN
10375598,"14270376,B02617,2015-06-04 20:55:00,B02617,105...",1433465700.0,NaN,NaN,NaN,NaN,NaN,NaN
10375599,"14270377,B02598,2015-03-03 14:55:00,B02598,105...",1425412500.0,NaN,NaN,NaN,NaN,NaN,NaN
10375600,"14270378,B02682,2015-05-28 20:39:00,B02682,105...",1432859940.0,NaN,NaN,NaN,NaN,NaN,NaN
10375601,"14270379,B02512,2015-01-28 17:10:23,B02764,105...",1422483023.0,NaN,NaN,NaN,NaN,NaN,NaN
10375602,"14270380,B02617,2015-01-28 10:44:35,B02764,105...",1422459875.0,NaN,NaN,NaN,NaN,NaN,NaN
10375603,"14270381,B02682,2015-05-06 01:09:00,B02682,105...",1430888940.0,NaN,NaN,NaN,NaN,NaN,NaN
10375604,"14270382,B02682,2015-02-02 14:00:45,B02682,105...",1422903645.0,NaN,NaN,NaN,NaN,NaN,NaN
10375605,"14270383,B02765,2015-02-25 16:05:31,B00412,105...",1424898331.0,NaN,NaN,NaN,NaN,NaN,NaN
10375606,"14270384,B02764,2015-02-21 15:24:41,B02764,105...",1424550281.0,NaN,NaN,NaN,NaN,NaN,NaN
10375607,"14270385,B02764,2015-02-17 12:27:37,B02764,105...",1424194057.0,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
len(t)

12

In [189]:
a =list(t[0])

In [190]:
a[0].split(',')

['14270374',
 'B02764',
 '2015-05-15 17:38:00',
 'B02764',
 '105',
 'Manhattan',
 'Governors Island/Ellis Island/Liberty Island']

In [191]:
b =[]
for i in range(0,len(a)):
    b.append(a[i].split(','))

In [192]:
b[0]

['14270374',
 'B02764',
 '2015-05-15 17:38:00',
 'B02764',
 '105',
 'Manhattan',
 'Governors Island/Ellis Island/Liberty Island']

In [214]:
c= pd.DataFrame(b)

In [215]:
tym = list(t[1])

In [216]:
tym = [int(float(i)) for i in tym]

In [217]:
c[7]=tym

In [218]:
c

,0,1,2,3,4,5,6,7
0,14270374,B02764,2015-05-15 17:38:00,B02764,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1431725880
1,14270375,B02764,2015-01-17 11:30:49,B02764,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1421512249
2,14270376,B02617,2015-06-04 20:55:00,B02617,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1433465700
3,14270377,B02598,2015-03-03 14:55:00,B02598,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1425412500
4,14270378,B02682,2015-05-28 20:39:00,B02682,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1432859940
5,14270379,B02512,2015-01-28 17:10:23,B02764,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1422483023
6,14270380,B02617,2015-01-28 10:44:35,B02764,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1422459875
7,14270381,B02682,2015-05-06 01:09:00,B02682,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1430888940
8,14270382,B02682,2015-02-02 14:00:45,B02682,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1422903645
9,14270383,B02765,2015-02-25 16:05:31,B00412,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1424898331
10,14270384,B02764,2015-02-21 15:24:41,B02764,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1424550281
11,14270385,B02764,2015-02-17 12:27:37,B02764,105,Manhattan,Governors Island/Ellis Island/Liberty Island,1424194057

In [369]:
 df[df[7].notnull()]

,0,1,2,3,4,5,6,7
0,1,B02617,2015-05-17 09:50:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
1,2,B02617,2015-05-17 09:53:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
2,3,B02617,2015-05-17 10:00:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
3,4,B02617,2015-05-17 10:00:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
4,5,B02617,2015-05-17 10:03:00,B00272,141.0,Manhattan,Lenox Hill West,1.431871e+09
5,6,B02617,2015-05-17 10:04:00,B02617,141.0,Manhattan,Lenox Hill West,1.431871e+09
6,7,B02617,2015-05-17 10:10:00,B02617,141.0,Manhattan,Lenox Hill West,1.431872e+09
7,8,B02617,2015-05-17 10:17:00,B02617,141.0,Manhattan,Lenox Hill West,1.431872e+09
8,9,B02617,2015-05-17 10:23:00,B02617,141.0,Manhattan,Lenox Hill West,1.431873e+09
9,10,B02617,2015-05-17 10:33:00,B02764,141.0,Manhattan,Lenox Hill West,1.431873e+09
10,11,B02598,2015-01-18 15:15:39,B02598,141.0,Manhattan,Lenox Hill West,1.421612e+09
11,12,B02598,2015-01-18 00:37:16,B02774,141.0,Manhattan,Lenox Hill West,1.421559e+09
12,13,B02598,2015-01-18 18:55:46,B02598,141.0,Manhattan,Lenox Hill West,1.421625e+09
13,14,B02617,2015-05-17 10:58:00,B02617,141.0,Manhattan,Lenox Hill West,1.431875e+09
14,15,B02617,2015-05-17 10:59:00,B02617,141.0,Manhattan,Lenox Hill West,1.431875e+09
15,16,B02617,2015-05-17 11:01:00,B02617,141.0,Manhattan,Lenox Hill West,1.431875e+09
16,17,B02598,2015-01-18 12:31:28,B02774,141.0,Manhattan,Lenox Hill West,1.421602e+09
17,18,B02598,2015-01-18 18:49:03,B02764,141.0,Manhattan,Lenox Hill West,1.421625e+09
18,19,B02598,2015-01-18 06:49:11,B02598,141.0,Manhattan,Lenox Hill West,1.421582e+09
19,20,B02598,2015-01-18 00:45:10,B02617,141.0,Manhattan,Lenox Hill West,1.421560e+09
20,21,B02598,2015-01-18 13:15:42,B02598,141.0,Manhattan,Lenox Hill West,1.421605e+09
21,22,B02617,2015-05-17 11:11:00,B02617,141.0,Manhattan,Lenox Hill West,1.431875e+09
22,23,B02598,2015-01-18 14:41:20,B02598,141.0,Manhattan,Lenox Hill West,1.421610e+09
23,24,B02617,2015-05-17 11:26:00,B02617,141.0,Manhattan,Lenox Hill West,1.431876e+09
24,25,B02617,2015-05-17 11:35:00,B02617,141.0,Manhattan,Lenox Hill West,1.431877e+09
25,26,B02764,2015-03-17 08:28:00,B02764,141.0,Manhattan,Lenox Hill West,1.426595e+09
26,27,B02764,2015-03-17 08:30:00,B02764,141.0,Manhattan,Lenox Hill West,1.426595e+09
27,28,B02764,2015-03-17 08:30:00,B02764,141.0,Manhattan,Lenox Hill West,1.426595e+09
28,29,B02764,2015-03-17 08:30:00,B02764,141.0,Manhattan,Lenox Hill West,1.426595e+09
29,30,B02598,2015-01-18 11:12:43,NaN,141.0,Manhattan,Lenox Hill West,1.421598e+09
...,...,...,...,...,...,...,...,...
10375566,14268960,B02764,2015-02-16 16:49:24,B02764,120.0,Manhattan,Highbridge Park,1.424123e+09
10375567,14268961,B02765,2015-06-21 14:36:00,B02682,120.0,Manhattan,Highbridge Park,1.434912e+09
10375568,14268962,B02765,2015-06-22 10:31:00,B02682,120.0,Manhattan,Highbridge Park,1.434983e+09
10375569,14268963,B02765,2015-04-18 19:54:00,B02765,120.0,Manhattan,Highbridge Park,1.429401e+09
10375570,14268964,B02765,2015-06-24 21:57:00,B02765,120.0,Manhattan,Highbridge Park,1.435197e+09
10375571,14268965,B02765,2015-06-26 21:57:00,B02729,120.0,Manhattan,Highbridge Park,1.435370e+09
10375572,14268966,B02765,2015-06-27 11:18:00,B02765,120.0,Manhattan,Highbridge Park,1.435418e+09
10375573,14268967,B02764,2015-02-17 02:43:01,B02764,120.0,Manhattan,Highbridge Park,1.424159e+09
10375574,14268968,B02765,2015-06-30 20:02:00,B02765,120.0,Manhattan,Highbridge Park,1.435709e+09
10375575,14268969,B02764,2015-02-18 05:12:45,B02764,120.0,Manhattan,Highbridge Park,1.424254e+09
10375576,14268970,B02764,2015-02-18 05:12:45,B02764,120.0,Manhattan,Highbridge Park,1.424254e+09
10375577,14268971,B02764,2015-02-18 11:17:20,B02764,120.0,Manhattan,Highbridge Park,1.424276e+09
10375578,14268972,B02765,2015-01-23 14:44:42,B02764,120.0,Manhattan,Highbridge Park,1.422042e+09
10375579,14268973,B02765,2015-01-02 21:18:21,B02764,120.0,Manhattan,Highbridge Park,1.420252e+09
10375580,14268974,B02764,2015-05-10 23:30:00,B02764,120.0,Manhattan,Highbridge Park,1.431315e+09
10375581,14268975,B02764,2015-05-11 07:46:00,B02764,120.0,Manhattan,Highbridge Park,1.431345e+09
10375582,14268976,B02835,2015-06-20 11:43:00,B02835,120.0,Manhattan,Highbridge Park,1.434815e+09
10375583,14268977,B02765,2015-02-04 07:17:10,B02765,120.0,Manhattan,Highbridge Park,1.423052e+09
10375584,14268978,B02835,2015-06-25 20:39:00,B02835,120.0,Manhattan,Highbridge Park,1.435279e+09
10375585,14268979,B02765,2015-05-01 08:37:00,B02765,120.0,Manhattan,Highbridge Park,1.430484e+09
10375586,14268980,B02764,2015-05-11 21:33:00,B02765,120.0,Manhattan,Highbridge Park,1.431394e+09
10375587,14268981,B02765,2015-05-02 23:34:00,B02207,120.0,Manhattan,Highbridge Park,1.430624e+09
10375588,14268982,B02765,2015-05-03 02:19:00,B02729,120.0,Manhattan,Highbridge Park,1.430634e+09
10375589,14268983,B02765,2015-05-03 12:53:00,B02682,120.0,Manhattan,Highbridge Park,1.430672e+09
10375590,14268984,B02764,2015-05-11 23:54:00,B00789,120.0,Manhattan,Highbridge Park,1.431403e+09
10375591,14268985,B02765,2015-05-06 06:38:00,B02765,120.0,Manhattan,Highbridge Park,1.430909e+09
10375592,14268986,B02765,2015-05-07 04:32:00,B02765,120.0,Manhattan,Highbridge Park,1.430988e+09
10375593,14268987,B02765,2015-05-08 10:15:00,B02682,120.0,Manhattan,Highbridge Park,1.431094e+09
10375594,14268988,B02765,2015-05-08 15:13:00,B02765,120.0,Manhattan,Highbridge Park,1.431112e+09
10375595,14268989,B02765,2015-02-20 11:44:12,B02765,120.0,Manhattan,Highbridge Park,1.424451e+09

In [220]:
c = c.append( df[df[7].notnull()])

In [223]:
c = c.sort_values(7)

In [231]:
c[7]=c[7].astype(int)

In [232]:
c

,0,1,2,3,4,5,6,7
8958176,11358149,B02598,2015-01-01 00:00:05,B02598,144,Manhattan,Little Italy/NoLiTa,1420088405
7257735,8140124,B02682,2015-01-01 00:00:08,B02682,113,Manhattan,Greenwich Village North,1420088408
3465860,3967546,B02682,2015-01-01 00:00:11,B02617,234,Manhattan,Union Sq,1420088411
9622956,12371033,B02764,2015-01-01 00:00:13,B02764,232,Manhattan,Two Bridges/Seward Park,1420088413
467271,640525,B02617,2015-01-01 00:00:14,B02617,90,Manhattan,Flatiron,1420088414
1228278,1641843,B02764,2015-01-01 00:00:25,NaN,229,Manhattan,Sutton Place/Turtle Bay North,1420088425
5696891,6290111,B02764,2015-01-01 00:00:27,B02764,231,Manhattan,TriBeCa/Civic Center,1420088427
7360251,8242640,B02764,2015-01-01 00:00:28,B02764,68,Manhattan,East Chelsea,1420088428
103277,103278,B02764,2015-01-01 00:00:29,B00789,141,Manhattan,Lenox Hill West,1420088429
8667239,11008076,B02682,2015-01-01 00:00:35,B02682,4,Manhattan,Alphabet City,1420088435
1185311,1598876,B02764,2015-01-01 00:00:39,B02764,229,Manhattan,Sutton Place/Turtle Bay North,1420088439
6647115,7529504,B02764,2015-01-01 00:00:41,B02764,148,Manhattan,Lower East Side,1420088441
10339212,13874240,B02764,2015-01-01 00:00:48,B02764,24,Manhattan,Bloomingdale,1420088448
9423811,11968423,B02682,2015-01-01 00:00:48,B02682,107,Manhattan,Gramercy,1420088448
4506324,5008010,B02598,2015-01-01 00:00:53,B02598,186,Manhattan,Penn Station/Madison Sq West,1420088453
5282197,5783883,B02764,2015-01-01 00:00:54,B02764,137,Manhattan,Kips Bay,1420088454
5373998,5967218,B02764,2015-01-01 00:01:01,B00014,231,Manhattan,TriBeCa/Civic Center,1420088461
158739,158740,B02764,2015-01-01 00:01:08,B02256,141,Manhattan,Lenox Hill West,1420088468
5179062,5680748,B02764,2015-01-01 00:01:08,B00888,158,Manhattan,Meatpacking/West Village West,1420088468
8549973,10888024,B02598,2015-01-01 00:01:14,B02598,88,Manhattan,Financial District South,1420088474
8382303,10711201,B02764,2015-01-01 00:01:17,B02764,163,Manhattan,Midtown North,1420088477
9871788,12692659,B02764,2015-01-01 00:01:17,B02764,211,Manhattan,SoHo,1420088477
6196758,7079147,B02764,2015-01-01 00:01:18,B02764,239,Manhattan,Upper West Side South,1420088478
2084190,2537245,B02764,2015-01-01 00:01:18,NaN,238,Manhattan,Upper West Side North,1420088478
3193365,3695051,B02598,2015-01-01 00:01:19,B02598,234,Manhattan,Union Sq,1420088479
6422690,7305079,B02764,2015-01-01 00:01:19,B02764,41,Manhattan,Central Harlem,1420088479
7964470,9850694,B02682,2015-01-01 00:01:20,B02682,50,Manhattan,Clinton West,1420088480
7214941,8097330,B02512,2015-01-01 00:01:21,B02729,113,Manhattan,Greenwich Village North,1420088481
4459259,4960945,B02764,2015-01-01 00:01:21,B01998,246,Manhattan,West Chelsea/Hudson Yards,1420088481
9580698,12267980,B02682,2015-01-01 00:01:22,B02682,262,Manhattan,Yorkville East,1420088482
...,...,...,...,...,...,...,...,...
10238888,13059759,B02598,2015-06-30 23:59:00,B02818,13,Manhattan,Battery Park City,1435723140
8413469,10742367,B02682,2015-06-30 23:59:00,B02764,163,Manhattan,Midtown North,1435723140
6587199,7469588,B02764,2015-06-30 23:59:00,B02764,148,Manhattan,Lower East Side,1435723140
9406339,11950951,B02764,2015-06-30 23:59:00,B00412,107,Manhattan,Gramercy,1435723140
1181508,1595073,B02682,2015-06-30 23:59:00,B02682,229,Manhattan,Sutton Place/Turtle Bay North,1435723140
1181507,1595072,B02682,2015-06-30 23:59:00,B02682,229,Manhattan,Sutton Place/Turtle Bay North,1435723140
1919047,2332612,B02682,2015-06-30 23:59:00,B02682,142,Manhattan,Lincoln Square East,1435723140
806109,1103627,B02682,2015-06-30 23:59:00,B02682,249,Manhattan,West Village,1435723140
10215397,13036268,B02764,2015-06-30 23:59:00,B00053,13,Manhattan,Battery Park City,1435723140
6587198,7469587,B02764,2015-06-30 23:59:00,B02764,148,Manhattan,Lower East Side,1435723140
4622910,5124596,B02764,2015-06-30 23:59:00,B02764,186,Manhattan,Penn Station/Madison Sq West,1435723140
6853087,7735476,B02617,2015-06-30 23:59:00,B02765,79,Manhattan,East Village,1435723140
489795,663049,B02764,2015-06-30 23:59:00,B00628,90,Manhattan,Flatiron,1435723140
489794,663048,B02764,2015-06-30 23:59:00,B02764,90,Manhattan,Flatiron,1435723140
2309570,2811256,B02617,2015-06-30 23:59:00,B02617,236,Manhattan,Upper East Side North,1435723140
3125963,3627649,B02598,2015-06-30 23:59:00,B02598,162,Manhattan,Midtown East,1435723140
4392098,4893784,B02764,2015-06-30 23:59:00,B02764,246,Manhattan,West Chelsea/Hudson Yards,1435723140
4897089,5398775,B02598,2015-06-30 23:59:00,B02598,48,Manhattan,Clinton East,1435723140
10207696,13028567,B02682,2015-06-30 23:59:00,B02764,13,Manhattan,Battery Park City,1435723140
2896455,3398141,B02765,2015-06-30 23:59:00,B02765,230,Manhattan,Times Sq/Theatre District,1435723140
2779199,3280885,B02764,2015-06-30 23:59:00,B02764,230,Manhattan,Times Sq/Theatre District,1435723140
3798503,4300189,B02617,2015-06-30 23:59:00,B02617,161,Manhattan,Midtown Center,1435723140
5820753,6413973,B02617,2015-06-30 23:59:00,B02682,125,Manhattan,Hudson Sq,1435723140
607044,904562,B02682,2015-06-30 23:59:00,B02682,74,Manhattan,East Harlem North,1435723140
8594172,10932223,B02598,2015-06-30 23:59:00,B02598,88,Manhattan,Financial District South,1435723140
7284872,8167261,B02598,2015-06-30 23:59:00,B02598,113,Manhattan,Greenwich Village North,1435723140
4377452,4879138,B02682,2015-06-30 23:59:00,B02682,246,Manhattan,West Chelsea/Hudson Yards,1435723140
3061723,3563409,B02682,2015-06-30 23:59:00,B00448,162,Manhattan,Midtown East,1435723140
4377451,4879137,B02682,2015-06-30 23:59:00,B02682,246,Manhattan,West Chelsea/Hudson Yards,1435723140
2779200,3280886,B02764,2015-06-30 23:59:00,B02764,230,Manhattan,Times Sq/Theatre District,1435723140

In [233]:
start = c.iloc[0][7]
end = c.iloc[-1][7]

In [314]:
start

1420088405

In [315]:
end

1435723140

In [236]:
from datetime import datetime
s = datetime.fromtimestamp(start)
e = datetime.fromtimestamp(end)

In [263]:
s

datetime.datetime(2015, 1, 1, 0, 0, 5)

In [264]:
e

datetime.datetime(2015, 6, 30, 23, 59)

In [295]:
sh = int(s.strftime('%H'))
sm = int(s.strftime('%M'))
eh = int(e.strftime('%H'))
em = int(e.strftime('%M'))
flag = 0

In [303]:
if sm <30:
    sm=0
elif sm>=30:
    sm=30

In [305]:
import datetime
new_s=datetime.datetime(s.year, s.month, s.day, s.hour, sm)
print(new_s)

2015-01-01 00:00:00

In [306]:
import datetime
round_mins = 30
mins = e.minute - (e.minute % round_mins)
new_e=datetime.datetime(e.year, e.month, e.day, e.hour, mins) + datetime.timedelta(minutes=round_mins)
print(new_e)

2015-07-01 00:00:00

In [311]:
s =int(new_s.timestamp())
e =int(new_e.timestamp())

In [312]:
s

1420088400

In [313]:
e

1435723200

In [352]:
temp = c[:2000].copy()

In [353]:
def bucketify(row):
    curr_time = row[7]
    start_time = s
    return (curr_time - start_time) // 1800

In [355]:
c

,0,1,2,3,4,5,6,7
8958176,11358149,B02598,2015-01-01 00:00:05,B02598,144,Manhattan,Little Italy/NoLiTa,1420088404
7257735,8140124,B02682,2015-01-01 00:00:08,B02682,113,Manhattan,Greenwich Village North,1420088407
3465860,3967546,B02682,2015-01-01 00:00:11,B02617,234,Manhattan,Union Sq,1420088410
9622956,12371033,B02764,2015-01-01 00:00:13,B02764,232,Manhattan,Two Bridges/Seward Park,1420088412
467271,640525,B02617,2015-01-01 00:00:14,B02617,90,Manhattan,Flatiron,1420088413
1228278,1641843,B02764,2015-01-01 00:00:25,NaN,229,Manhattan,Sutton Place/Turtle Bay North,1420088424
5696891,6290111,B02764,2015-01-01 00:00:27,B02764,231,Manhattan,TriBeCa/Civic Center,1420088426
7360251,8242640,B02764,2015-01-01 00:00:28,B02764,68,Manhattan,East Chelsea,1420088427
103277,103278,B02764,2015-01-01 00:00:29,B00789,141,Manhattan,Lenox Hill West,1420088428
8667239,11008076,B02682,2015-01-01 00:00:35,B02682,4,Manhattan,Alphabet City,1420088434
1185311,1598876,B02764,2015-01-01 00:00:39,B02764,229,Manhattan,Sutton Place/Turtle Bay North,1420088438
6647115,7529504,B02764,2015-01-01 00:00:41,B02764,148,Manhattan,Lower East Side,1420088440
10339212,13874240,B02764,2015-01-01 00:00:48,B02764,24,Manhattan,Bloomingdale,1420088447
9423811,11968423,B02682,2015-01-01 00:00:48,B02682,107,Manhattan,Gramercy,1420088447
4506324,5008010,B02598,2015-01-01 00:00:53,B02598,186,Manhattan,Penn Station/Madison Sq West,1420088452
5282197,5783883,B02764,2015-01-01 00:00:54,B02764,137,Manhattan,Kips Bay,1420088453
5373998,5967218,B02764,2015-01-01 00:01:01,B00014,231,Manhattan,TriBeCa/Civic Center,1420088460
158739,158740,B02764,2015-01-01 00:01:08,B02256,141,Manhattan,Lenox Hill West,1420088467
5179062,5680748,B02764,2015-01-01 00:01:08,B00888,158,Manhattan,Meatpacking/West Village West,1420088467
8549973,10888024,B02598,2015-01-01 00:01:14,B02598,88,Manhattan,Financial District South,1420088473
8382303,10711201,B02764,2015-01-01 00:01:17,B02764,163,Manhattan,Midtown North,1420088476
9871788,12692659,B02764,2015-01-01 00:01:17,B02764,211,Manhattan,SoHo,1420088476
6196758,7079147,B02764,2015-01-01 00:01:18,B02764,239,Manhattan,Upper West Side South,1420088477
2084190,2537245,B02764,2015-01-01 00:01:18,NaN,238,Manhattan,Upper West Side North,1420088477
3193365,3695051,B02598,2015-01-01 00:01:19,B02598,234,Manhattan,Union Sq,1420088478
6422690,7305079,B02764,2015-01-01 00:01:19,B02764,41,Manhattan,Central Harlem,1420088478
7964470,9850694,B02682,2015-01-01 00:01:20,B02682,50,Manhattan,Clinton West,1420088479
7214941,8097330,B02512,2015-01-01 00:01:21,B02729,113,Manhattan,Greenwich Village North,1420088480
4459259,4960945,B02764,2015-01-01 00:01:21,B01998,246,Manhattan,West Chelsea/Hudson Yards,1420088480
9580698,12267980,B02682,2015-01-01 00:01:22,B02682,262,Manhattan,Yorkville East,1420088481
...,...,...,...,...,...,...,...,...
10238888,13059759,B02598,2015-06-30 23:59:00,B02818,13,Manhattan,Battery Park City,1435723140
8413469,10742367,B02682,2015-06-30 23:59:00,B02764,163,Manhattan,Midtown North,1435723140
6587199,7469588,B02764,2015-06-30 23:59:00,B02764,148,Manhattan,Lower East Side,1435723140
9406339,11950951,B02764,2015-06-30 23:59:00,B00412,107,Manhattan,Gramercy,1435723140
1181508,1595073,B02682,2015-06-30 23:59:00,B02682,229,Manhattan,Sutton Place/Turtle Bay North,1435723140
1181507,1595072,B02682,2015-06-30 23:59:00,B02682,229,Manhattan,Sutton Place/Turtle Bay North,1435723140
1919047,2332612,B02682,2015-06-30 23:59:00,B02682,142,Manhattan,Lincoln Square East,1435723140
806109,1103627,B02682,2015-06-30 23:59:00,B02682,249,Manhattan,West Village,1435723140
10215397,13036268,B02764,2015-06-30 23:59:00,B00053,13,Manhattan,Battery Park City,1435723140
6587198,7469587,B02764,2015-06-30 23:59:00,B02764,148,Manhattan,Lower East Side,1435723140
4622910,5124596,B02764,2015-06-30 23:59:00,B02764,186,Manhattan,Penn Station/Madison Sq West,1435723140
6853087,7735476,B02617,2015-06-30 23:59:00,B02765,79,Manhattan,East Village,1435723140
489795,663049,B02764,2015-06-30 23:59:00,B00628,90,Manhattan,Flatiron,1435723140
489794,663048,B02764,2015-06-30 23:59:00,B02764,90,Manhattan,Flatiron,1435723140
2309570,2811256,B02617,2015-06-30 23:59:00,B02617,236,Manhattan,Upper East Side North,1435723140
3125963,3627649,B02598,2015-06-30 23:59:00,B02598,162,Manhattan,Midtown East,1435723140
4392098,4893784,B02764,2015-06-30 23:59:00,B02764,246,Manhattan,West Chelsea/Hudson Yards,1435723140
4897089,5398775,B02598,2015-06-30 23:59:00,B02598,48,Manhattan,Clinton East,1435723140
10207696,13028567,B02682,2015-06-30 23:59:00,B02764,13,Manhattan,Battery Park City,1435723140
2896455,3398141,B02765,2015-06-30 23:59:00,B02765,230,Manhattan,Times Sq/Theatre District,1435723140
2779199,3280885,B02764,2015-06-30 23:59:00,B02764,230,Manhattan,Times Sq/Theatre District,1435723140
3798503,4300189,B02617,2015-06-30 23:59:00,B02617,161,Manhattan,Midtown Center,1435723140
5820753,6413973,B02617,2015-06-30 23:59:00,B02682,125,Manhattan,Hudson Sq,1435723140
607044,904562,B02682,2015-06-30 23:59:00,B02682,74,Manhattan,East Harlem North,1435723140
8594172,10932223,B02598,2015-06-30 23:59:00,B02598,88,Manhattan,Financial District South,1435723140
7284872,8167261,B02598,2015-06-30 23:59:00,B02598,113,Manhattan,Greenwich Village North,1435723140
4377452,4879138,B02682,2015-06-30 23:59:00,B02682,246,Manhattan,West Chelsea/Hudson Yards,1435723140
3061723,3563409,B02682,2015-06-30 23:59:00,B00448,162,Manhattan,Midtown East,1435723140
4377451,4879137,B02682,2015-06-30 23:59:00,B02682,246,Manhattan,West Chelsea/Hudson Yards,1435723140
2779200,3280886,B02764,2015-06-30 23:59:00,B02764,230,Manhattan,Times Sq/Theatre District,1435723140

In [357]:
c[8] = c.apply(lambda row: bucketify(row), axis=1)

In [358]:
c

,0,1,2,3,4,5,6,7,8
8958176,11358149,B02598,2015-01-01 00:00:05,B02598,144,Manhattan,Little Italy/NoLiTa,1420088404,0
7257735,8140124,B02682,2015-01-01 00:00:08,B02682,113,Manhattan,Greenwich Village North,1420088407,0
3465860,3967546,B02682,2015-01-01 00:00:11,B02617,234,Manhattan,Union Sq,1420088410,0
9622956,12371033,B02764,2015-01-01 00:00:13,B02764,232,Manhattan,Two Bridges/Seward Park,1420088412,0
467271,640525,B02617,2015-01-01 00:00:14,B02617,90,Manhattan,Flatiron,1420088413,0
1228278,1641843,B02764,2015-01-01 00:00:25,NaN,229,Manhattan,Sutton Place/Turtle Bay North,1420088424,0
5696891,6290111,B02764,2015-01-01 00:00:27,B02764,231,Manhattan,TriBeCa/Civic Center,1420088426,0
7360251,8242640,B02764,2015-01-01 00:00:28,B02764,68,Manhattan,East Chelsea,1420088427,0
103277,103278,B02764,2015-01-01 00:00:29,B00789,141,Manhattan,Lenox Hill West,1420088428,0
8667239,11008076,B02682,2015-01-01 00:00:35,B02682,4,Manhattan,Alphabet City,1420088434,0
1185311,1598876,B02764,2015-01-01 00:00:39,B02764,229,Manhattan,Sutton Place/Turtle Bay North,1420088438,0
6647115,7529504,B02764,2015-01-01 00:00:41,B02764,148,Manhattan,Lower East Side,1420088440,0
10339212,13874240,B02764,2015-01-01 00:00:48,B02764,24,Manhattan,Bloomingdale,1420088447,0
9423811,11968423,B02682,2015-01-01 00:00:48,B02682,107,Manhattan,Gramercy,1420088447,0
4506324,5008010,B02598,2015-01-01 00:00:53,B02598,186,Manhattan,Penn Station/Madison Sq West,1420088452,0
5282197,5783883,B02764,2015-01-01 00:00:54,B02764,137,Manhattan,Kips Bay,1420088453,0
5373998,5967218,B02764,2015-01-01 00:01:01,B00014,231,Manhattan,TriBeCa/Civic Center,1420088460,0
158739,158740,B02764,2015-01-01 00:01:08,B02256,141,Manhattan,Lenox Hill West,1420088467,0
5179062,5680748,B02764,2015-01-01 00:01:08,B00888,158,Manhattan,Meatpacking/West Village West,1420088467,0
8549973,10888024,B02598,2015-01-01 00:01:14,B02598,88,Manhattan,Financial District South,1420088473,0
8382303,10711201,B02764,2015-01-01 00:01:17,B02764,163,Manhattan,Midtown North,1420088476,0
9871788,12692659,B02764,2015-01-01 00:01:17,B02764,211,Manhattan,SoHo,1420088476,0
6196758,7079147,B02764,2015-01-01 00:01:18,B02764,239,Manhattan,Upper West Side South,1420088477,0
2084190,2537245,B02764,2015-01-01 00:01:18,NaN,238,Manhattan,Upper West Side North,1420088477,0
3193365,3695051,B02598,2015-01-01 00:01:19,B02598,234,Manhattan,Union Sq,1420088478,0
6422690,7305079,B02764,2015-01-01 00:01:19,B02764,41,Manhattan,Central Harlem,1420088478,0
7964470,9850694,B02682,2015-01-01 00:01:20,B02682,50,Manhattan,Clinton West,1420088479,0
7214941,8097330,B02512,2015-01-01 00:01:21,B02729,113,Manhattan,Greenwich Village North,1420088480,0
4459259,4960945,B02764,2015-01-01 00:01:21,B01998,246,Manhattan,West Chelsea/Hudson Yards,1420088480,0
9580698,12267980,B02682,2015-01-01 00:01:22,B02682,262,Manhattan,Yorkville East,1420088481,0
...,...,...,...,...,...,...,...,...,...
10238888,13059759,B02598,2015-06-30 23:59:00,B02818,13,Manhattan,Battery Park City,1435723140,8685
8413469,10742367,B02682,2015-06-30 23:59:00,B02764,163,Manhattan,Midtown North,1435723140,8685
6587199,7469588,B02764,2015-06-30 23:59:00,B02764,148,Manhattan,Lower East Side,1435723140,8685
9406339,11950951,B02764,2015-06-30 23:59:00,B00412,107,Manhattan,Gramercy,1435723140,8685
1181508,1595073,B02682,2015-06-30 23:59:00,B02682,229,Manhattan,Sutton Place/Turtle Bay North,1435723140,8685
1181507,1595072,B02682,2015-06-30 23:59:00,B02682,229,Manhattan,Sutton Place/Turtle Bay North,1435723140,8685
1919047,2332612,B02682,2015-06-30 23:59:00,B02682,142,Manhattan,Lincoln Square East,1435723140,8685
806109,1103627,B02682,2015-06-30 23:59:00,B02682,249,Manhattan,West Village,1435723140,8685
10215397,13036268,B02764,2015-06-30 23:59:00,B00053,13,Manhattan,Battery Park City,1435723140,8685
6587198,7469587,B02764,2015-06-30 23:59:00,B02764,148,Manhattan,Lower East Side,1435723140,8685
4622910,5124596,B02764,2015-06-30 23:59:00,B02764,186,Manhattan,Penn Station/Madison Sq West,1435723140,8685
6853087,7735476,B02617,2015-06-30 23:59:00,B02765,79,Manhattan,East Village,1435723140,8685
489795,663049,B02764,2015-06-30 23:59:00,B00628,90,Manhattan,Flatiron,1435723140,8685
489794,663048,B02764,2015-06-30 23:59:00,B02764,90,Manhattan,Flatiron,1435723140,8685
2309570,2811256,B02617,2015-06-30 23:59:00,B02617,236,Manhattan,Upper East Side North,1435723140,8685
3125963,3627649,B02598,2015-06-30 23:59:00,B02598,162,Manhattan,Midtown East,1435723140,8685
4392098,4893784,B02764,2015-06-30 23:59:00,B02764,246,Manhattan,West Chelsea/Hudson Yards,1435723140,8685
4897089,5398775,B02598,2015-06-30 23:59:00,B02598,48,Manhattan,Clinton East,1435723140,8685
10207696,13028567,B02682,2015-06-30 23:59:00,B02764,13,Manhattan,Battery Park City,1435723140,8685
2896455,3398141,B02765,2015-06-30 23:59:00,B02765,230,Manhattan,Times Sq/Theatre District,1435723140,8685
2779199,3280885,B02764,2015-06-30 23:59:00,B02764,230,Manhattan,Times Sq/Theatre District,1435723140,8685
3798503,4300189,B02617,2015-06-30 23:59:00,B02617,161,Manhattan,Midtown Center,1435723140,8685
5820753,6413973,B02617,2015-06-30 23:59:00,B02682,125,Manhattan,Hudson Sq,1435723140,8685
607044,904562,B02682,2015-06-30 23:59:00,B02682,74,Manhattan,East Harlem North,1435723140,8685
8594172,10932223,B02598,2015-06-30 23:59:00,B02598,88,Manhattan,Financial District South,1435723140,8685
7284872,8167261,B02598,2015-06-30 23:59:00,B02598,113,Manhattan,Greenwich Village North,1435723140,8685
4377452,4879138,B02682,2015-06-30 23:59:00,B02682,246,Manhattan,West Chelsea/Hudson Yards,1435723140,8685
3061723,3563409,B02682,2015-06-30 23:59:00,B00448,162,Manhattan,Midtown East,1435723140,8685
4377451,4879137,B02682,2015-06-30 23:59:00,B02682,246,Manhattan,West Chelsea/Hudson Yards,1435723140,8685
2779200,3280886,B02764,2015-06-30 23:59:00,B02764,230,Manhattan,Times Sq/Theatre District,1435723140,8685

In [365]:
c[8] = c[8]+1

In [366]:
c

,0,1,2,3,4,5,6,7,8
8958176,11358149,B02598,2015-01-01 00:00:05,B02598,144,Manhattan,Little Italy/NoLiTa,1420088404,1
7257735,8140124,B02682,2015-01-01 00:00:08,B02682,113,Manhattan,Greenwich Village North,1420088407,1
3465860,3967546,B02682,2015-01-01 00:00:11,B02617,234,Manhattan,Union Sq,1420088410,1
9622956,12371033,B02764,2015-01-01 00:00:13,B02764,232,Manhattan,Two Bridges/Seward Park,1420088412,1
467271,640525,B02617,2015-01-01 00:00:14,B02617,90,Manhattan,Flatiron,1420088413,1
1228278,1641843,B02764,2015-01-01 00:00:25,NaN,229,Manhattan,Sutton Place/Turtle Bay North,1420088424,1
5696891,6290111,B02764,2015-01-01 00:00:27,B02764,231,Manhattan,TriBeCa/Civic Center,1420088426,1
7360251,8242640,B02764,2015-01-01 00:00:28,B02764,68,Manhattan,East Chelsea,1420088427,1
103277,103278,B02764,2015-01-01 00:00:29,B00789,141,Manhattan,Lenox Hill West,1420088428,1
8667239,11008076,B02682,2015-01-01 00:00:35,B02682,4,Manhattan,Alphabet City,1420088434,1
1185311,1598876,B02764,2015-01-01 00:00:39,B02764,229,Manhattan,Sutton Place/Turtle Bay North,1420088438,1
6647115,7529504,B02764,2015-01-01 00:00:41,B02764,148,Manhattan,Lower East Side,1420088440,1
10339212,13874240,B02764,2015-01-01 00:00:48,B02764,24,Manhattan,Bloomingdale,1420088447,1
9423811,11968423,B02682,2015-01-01 00:00:48,B02682,107,Manhattan,Gramercy,1420088447,1
4506324,5008010,B02598,2015-01-01 00:00:53,B02598,186,Manhattan,Penn Station/Madison Sq West,1420088452,1
5282197,5783883,B02764,2015-01-01 00:00:54,B02764,137,Manhattan,Kips Bay,1420088453,1
5373998,5967218,B02764,2015-01-01 00:01:01,B00014,231,Manhattan,TriBeCa/Civic Center,1420088460,1
158739,158740,B02764,2015-01-01 00:01:08,B02256,141,Manhattan,Lenox Hill West,1420088467,1
5179062,5680748,B02764,2015-01-01 00:01:08,B00888,158,Manhattan,Meatpacking/West Village West,1420088467,1
8549973,10888024,B02598,2015-01-01 00:01:14,B02598,88,Manhattan,Financial District South,1420088473,1
8382303,10711201,B02764,2015-01-01 00:01:17,B02764,163,Manhattan,Midtown North,1420088476,1
9871788,12692659,B02764,2015-01-01 00:01:17,B02764,211,Manhattan,SoHo,1420088476,1
6196758,7079147,B02764,2015-01-01 00:01:18,B02764,239,Manhattan,Upper West Side South,1420088477,1
2084190,2537245,B02764,2015-01-01 00:01:18,NaN,238,Manhattan,Upper West Side North,1420088477,1
3193365,3695051,B02598,2015-01-01 00:01:19,B02598,234,Manhattan,Union Sq,1420088478,1
6422690,7305079,B02764,2015-01-01 00:01:19,B02764,41,Manhattan,Central Harlem,1420088478,1
7964470,9850694,B02682,2015-01-01 00:01:20,B02682,50,Manhattan,Clinton West,1420088479,1
7214941,8097330,B02512,2015-01-01 00:01:21,B02729,113,Manhattan,Greenwich Village North,1420088480,1
4459259,4960945,B02764,2015-01-01 00:01:21,B01998,246,Manhattan,West Chelsea/Hudson Yards,1420088480,1
9580698,12267980,B02682,2015-01-01 00:01:22,B02682,262,Manhattan,Yorkville East,1420088481,1
...,...,...,...,...,...,...,...,...,...
10238888,13059759,B02598,2015-06-30 23:59:00,B02818,13,Manhattan,Battery Park City,1435723140,8686
8413469,10742367,B02682,2015-06-30 23:59:00,B02764,163,Manhattan,Midtown North,1435723140,8686
6587199,7469588,B02764,2015-06-30 23:59:00,B02764,148,Manhattan,Lower East Side,1435723140,8686
9406339,11950951,B02764,2015-06-30 23:59:00,B00412,107,Manhattan,Gramercy,1435723140,8686
1181508,1595073,B02682,2015-06-30 23:59:00,B02682,229,Manhattan,Sutton Place/Turtle Bay North,1435723140,8686
1181507,1595072,B02682,2015-06-30 23:59:00,B02682,229,Manhattan,Sutton Place/Turtle Bay North,1435723140,8686
1919047,2332612,B02682,2015-06-30 23:59:00,B02682,142,Manhattan,Lincoln Square East,1435723140,8686
806109,1103627,B02682,2015-06-30 23:59:00,B02682,249,Manhattan,West Village,1435723140,8686
10215397,13036268,B02764,2015-06-30 23:59:00,B00053,13,Manhattan,Battery Park City,1435723140,8686
6587198,7469587,B02764,2015-06-30 23:59:00,B02764,148,Manhattan,Lower East Side,1435723140,8686
4622910,5124596,B02764,2015-06-30 23:59:00,B02764,186,Manhattan,Penn Station/Madison Sq West,1435723140,8686
6853087,7735476,B02617,2015-06-30 23:59:00,B02765,79,Manhattan,East Village,1435723140,8686
489795,663049,B02764,2015-06-30 23:59:00,B00628,90,Manhattan,Flatiron,1435723140,8686
489794,663048,B02764,2015-06-30 23:59:00,B02764,90,Manhattan,Flatiron,1435723140,8686
2309570,2811256,B02617,2015-06-30 23:59:00,B02617,236,Manhattan,Upper East Side North,1435723140,8686
3125963,3627649,B02598,2015-06-30 23:59:00,B02598,162,Manhattan,Midtown East,1435723140,8686
4392098,4893784,B02764,2015-06-30 23:59:00,B02764,246,Manhattan,West Chelsea/Hudson Yards,1435723140,8686
4897089,5398775,B02598,2015-06-30 23:59:00,B02598,48,Manhattan,Clinton East,1435723140,8686
10207696,13028567,B02682,2015-06-30 23:59:00,B02764,13,Manhattan,Battery Park City,1435723140,8686
2896455,3398141,B02765,2015-06-30 23:59:00,B02765,230,Manhattan,Times Sq/Theatre District,1435723140,8686
2779199,3280885,B02764,2015-06-30 23:59:00,B02764,230,Manhattan,Times Sq/Theatre District,1435723140,8686
3798503,4300189,B02617,2015-06-30 23:59:00,B02617,161,Manhattan,Midtown Center,1435723140,8686
5820753,6413973,B02617,2015-06-30 23:59:00,B02682,125,Manhattan,Hudson Sq,1435723140,8686
607044,904562,B02682,2015-06-30 23:59:00,B02682,74,Manhattan,East Harlem North,1435723140,8686
8594172,10932223,B02598,2015-06-30 23:59:00,B02598,88,Manhattan,Financial District South,1435723140,8686
7284872,8167261,B02598,2015-06-30 23:59:00,B02598,113,Manhattan,Greenwich Village North,1435723140,8686
4377452,4879138,B02682,2015-06-30 23:59:00,B02682,246,Manhattan,West Chelsea/Hudson Yards,1435723140,8686
3061723,3563409,B02682,2015-06-30 23:59:00,B00448,162,Manhattan,Midtown East,1435723140,8686
4377451,4879137,B02682,2015-06-30 23:59:00,B02682,246,Manhattan,West Chelsea/Hudson Yards,1435723140,8686
2779200,3280886,B02764,2015-06-30 23:59:00,B02764,230,Manhattan,Times Sq/Theatre District,1435723140,8686

In [367]:
c.to_csv('mod_manhattan_set.csv')

In [373]:
from dateutil.parser import parse

def is_date(string):
    try: 
        parse(string)
        return True
    except ValueError:
        return False