In [5]:
import pandas as pd


df = pd.read_csv('boro/statenIsland_final.csv')

#change cols
cols = df.columns.tolist()
tmp = cols[1]
cols[1] = cols[2]
cols[2] = tmp

df=df[cols]
df=df.drop(['Unnamed: 0'],axis=1)

df.head()

,ds,y,7_Arden Heights,7_Arrochar/Fort Wadsworth,7_Bloomfield/Emerson Hill,7_Charleston/Tottenville,7_Eltingville/Annadale/Princes Bay,7_Freshkills Park,7_Great Kills,7_Great Kills Park,...,7_Mariners Harbor,7_New Dorp/Midland Beach,7_Oakwood,7_Port Richmond,7_Rossville/Woodrow,7_Saint George/New Brighton,7_South Beach/Dongan Hills,7_Stapleton,7_West Brighton,7_Westerleigh
0,2015-01-01 02:54:38,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-27 11:43:24,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-29 05:52:21,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015-03-14 11:47:00,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015-03-27 15:56:00,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df['Date'] = pd.to_datetime(df['ds'])
df=df.sort_values(by='Date')
df=df.drop(['Date'],axis=1)
df

,ds,y,7_Arden Heights,7_Arrochar/Fort Wadsworth,7_Bloomfield/Emerson Hill,7_Charleston/Tottenville,7_Eltingville/Annadale/Princes Bay,7_Freshkills Park,7_Great Kills,7_Great Kills Park,...,7_Mariners Harbor,7_New Dorp/Midland Beach,7_Oakwood,7_Port Richmond,7_Rossville/Woodrow,7_Saint George/New Brighton,7_South Beach/Dongan Hills,7_Stapleton,7_West Brighton,7_Westerleigh
5248,2015-01-01 00:01:23,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6296,2015-01-01 00:38:53,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
688,2015-01-01 01:03:19,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4557,2015-01-01 01:27:55,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6297,2015-01-01 01:35:13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
689,2015-01-01 02:05:44,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1817,2015-01-01 02:10:20,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2015-01-01 02:13:26,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4144,2015-01-01 02:26:38,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2328,2015-01-01 02:27:41,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2015-01-01 02:30:07,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1672,2015-01-01 02:41:03,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4145,2015-01-01 02:44:45,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5862,2015-01-01 02:53:36,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
0,2015-01-01 02:54:38,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5249,2015-01-01 02:56:25,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1818,2015-01-01 02:58:17,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4146,2015-01-01 03:08:12,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6298,2015-01-01 03:20:02,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1673,2015-01-01 03:20:48,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3931,2015-01-01 03:50:38,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4147,2015-01-01 03:51:43,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4148,2015-01-01 04:10:46,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5250,2015-01-01 04:25:03,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4558,2015-01-01 04:46:33,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4149,2015-01-01 04:54:03,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
690,2015-01-01 05:23:44,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
691,2015-01-01 09:15:10,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4150,2015-01-01 10:20:04,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4559,2015-01-01 10:49:46,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3540,2015-06-30 07:14:00,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1607,2015-06-30 08:04:00,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2324,2015-06-30 08:09:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4554,2015-06-30 09:05:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5247,2015-06-30 09:17:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4555,2015-06-30 09:54:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
684,2015-06-30 10:45:00,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2325,2015-06-30 11:23:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5856,2015-06-30 12:03:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3089,2015-06-30 12:26:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1608,2015-06-30 13:30:00,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
685,2015-06-30 14:29:00,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5857,2015-06-30 14:43:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5859,2015-06-30 15:04:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5858,2015-06-30 15:04:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3541,2015-06-30 16:24:00,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4556,2015-06-30 17:06:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5860,2015-06-30 17:59:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3090,2015-06-30 18:02:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2326,2015-06-30 18:41:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1609,2015-06-30 18:49:00,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2327,2015-06-30 19:06:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6294,2015-06-30 19:31:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3760,2015-06-30 20:08:00,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
686,2015-06-30 20:28:00,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
687,2015-06-30 21:03:00,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5861,2015-06-30 21:25:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3091,2015-06-30 22:04:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1610,2015-06-30 22:22:00,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6295,2015-06-30 23:55:00,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0