In [1]:
import pandas as pd

df = pd.read_csv('combined_final_weather.csv')
df

,Unnamed: 0,y,ds,7_Allerton/Pelham Gardens,7_Bedford Park,7_Belmont,7_Bronx Park,7_Bronxdale,7_City Island,7_Claremont/Bathgate,...,7_Stapleton,7_West Brighton,7_Westerleigh,Temperature,Humidity,Pressure,Weather Type,Wind Direction,Wind Speed,Holiday
0,0,1,2015-01-01 00:02:34,1,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
1,1,1,2015-01-01 00:47:00,1,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
2,2,1,2015-01-01 01:19:18,1,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
3,3,1,2015-01-01 02:11:55,1,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
4,4,2,2015-01-01 03:19:41,1,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
5,5,2,2015-01-01 03:54:07,1,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
6,6,1,2015-01-01 05:28:00,1,0,0,0,0,0,0,...,0,0,0,266.667000,52,1019,sky is clear,251,3,1
7,7,1,2015-01-01 16:38:51,1,0,0,0,0,0,0,...,0,0,0,271.460667,88,1034,sky is clear,242,4,1
8,8,1,2015-01-01 18:58:30,1,0,0,0,0,0,0,...,0,0,0,271.949219,70,1024,sky is clear,244,4,1
9,9,1,2015-01-01 20:36:05,1,0,0,0,0,0,0,...,0,0,0,272.941000,54,1015,sky is clear,244,4,1
10,10,1,2015-01-01 21:03:59,1,0,0,0,0,0,0,...,0,0,0,272.941000,54,1015,sky is clear,244,4,1
11,11,1,2015-01-01 23:05:09,1,0,0,0,0,0,0,...,0,0,0,272.754000,58,1015,sky is clear,241,3,1
12,12,1,2015-01-01 23:38:29,1,0,0,0,0,0,0,...,0,0,0,272.754000,58,1015,sky is clear,241,3,1
13,13,1,2015-01-02 06:35:36,1,0,0,0,0,0,0,...,0,0,0,273.027000,59,1016,sky is clear,259,3,0
14,14,1,2015-01-02 09:15:24,1,0,0,0,0,0,0,...,0,0,0,272.405000,62,1016,sky is clear,261,3,0
15,15,1,2015-01-02 20:06:24,1,0,0,0,0,0,0,...,0,0,0,276.237000,56,1023,sky is clear,271,3,0
16,16,1,2015-01-02 22:09:36,1,0,0,0,0,0,0,...,0,0,0,276.237000,56,1023,sky is clear,271,3,0
17,17,1,2015-01-03 00:09:50,1,0,0,0,0,0,0,...,0,0,0,272.583000,62,1025,sky is clear,266,2,0
18,18,1,2015-01-03 00:43:16,1,0,0,0,0,0,0,...,0,0,0,272.583000,62,1025,sky is clear,266,2,0
19,19,1,2015-01-03 02:16:30,1,0,0,0,0,0,0,...,0,0,0,269.642000,70,1028,sky is clear,264,1,0
20,20,1,2015-01-03 03:02:16,1,0,0,0,0,0,0,...,0,0,0,269.642000,70,1028,sky is clear,264,1,0
21,21,1,2015-01-03 03:42:58,1,0,0,0,0,0,0,...,0,0,0,269.642000,70,1028,sky is clear,264,1,0
22,22,1,2015-01-03 05:52:00,1,0,0,0,0,0,0,...,0,0,0,266.944000,77,1030,sky is clear,294,1,0
23,23,1,2015-01-03 07:10:16,1,0,0,0,0,0,0,...,0,0,0,266.944000,77,1030,sky is clear,294,1,0
24,24,1,2015-01-03 09:46:51,1,0,0,0,0,0,0,...,0,0,0,266.302000,77,1031,few clouds,7,2,0
25,25,1,2015-01-03 13:28:09,1,0,0,0,0,0,0,...,0,0,0,266.718000,79,1032,few clouds,52,1,0
26,26,1,2015-01-03 15:09:27,1,0,0,0,0,0,0,...,0,0,0,272.883544,68,1037,broken clouds,84,2,0
27,27,1,2015-01-03 15:46:21,1,0,0,0,0,0,0,...,0,0,0,272.883544,68,1037,broken clouds,84,2,0
28,28,1,2015-01-03 16:12:03,1,0,0,0,0,0,0,...,0,0,0,274.930667,84,1049,broken clouds,91,3,0
29,29,1,2015-01-03 20:18:39,1,0,0,0,0,0,0,...,0,0,0,274.050000,94,1022,light rain,107,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322661,6899,1,2015-06-25 12:24:00,0,0,0,0,0,0,0,...,0,0,1,292.920000,49,1018,broken clouds,0,2,0
1322662,6900,1,2015-06-25 15:16:00,0,0,0,0,0,0,0,...,0,0,1,298.300000,41,1019,broken clouds,280,2,0
1322663,6901,1,2015-06-25 20:26:00,0,0,0,0,0,0,0,...,0,0,1,299.650000,69,1014,overcast clouds,290,4,0
1322664,6902,1,2015-06-25 21:15:00,0,0,0,0,0,0,0,...,0,0,1,299.200000,50,1016,broken clouds,240,4,0
1322665,6903,1,2015-06-25 21:23:00,0,0,0,0,0,0,0,...,0,0,1,299.200000,50,1016,broken clouds,240,4,0
1322666,6904,1,2015-06-25 21:52:00,0,0,0,0,0,0,0,...,0,0,1,299.200000,50,1016,broken clouds,240,4,0
1322667,6905,1,2015-06-25 23:35:00,0,0,0,0,0,0,0,...,0,0,1,297.470000,61,1015,overcast clouds,220,2,0
1322668,6906,1,2015-06-26 06:33:00,0,0,0,0,0,0,0,...,0,0,1,293.660000,77,1014,overcast clouds,233,1,0
1322669,6907,1,2015-06-26 19:33:00,0,0,0,0,0,0,0,...,0,0,1,298.610000,51,1015,scattered clouds,150,3,0
1322670,6908,1,2015-06-26 19:54:00,0,0,0,0,0,0,0,...,0,0,1,298.610000,51,1015,scattered clouds,150,3,0
1322671,6909,1,2015-06-26 20:37:00,0,0,0,0,0,0,0,...,0,0,1,298.630000,48,1015,broken clouds,150,4,0
1322672,6910,1,2015-06-27 01:11:00,0,0,0,0,0,0,0,...,0,0,1,295.430000,73,1017,overcast clouds,150,2,0
1322673,6911,1,2015-06-27 04:04:00,0,0,0,0,0,0,0,...,0,0,1,293.010000,88,1019,broken clouds,98,1,0
1322674,6912,1,2015-06-27 10:22:00,0,0,0,0,0,0,0,...,0,0,1,291.590000,88,1019,overcast clouds,109,2,0
1322675,6913,1,2015-06-27 12:52:00,0,0,0,0,0,0,0,...,0,0,1,292.460000,77,1020,mist,40,1,0
1322676,6914,1,2015-06-27 14:12:00,0,0,0,0,0,0,0,...,0,0,1,293.520000,60,1019,mist,90,5,0
1322677,6915,1,2015-06-27 16:18:00,0,0,0,0,0,0,0,...,0,0,1,293.810000,64,1019,light rain,100,4,0
1322678,6916,1,2015-06-27 17:37:00,0,0,0,0,0,0,0,...,0,0,1,293.670000,64,1019,light intensity drizzle,120,5,0
1322679,6917,1,2015-06-27 17:57:00,0,0,0,0,0,0,0,...,0,0,1,293.670000,64,1019,light intensity drizzle,120,5,0
1322680,6918,1,2015-06-27 22:35:00,0,0,0,0,0,0,0,...,0,0,1,289.560000,72,1016,mist,60,5,0
1322681,6919,1,2015-06-27 23:02:00,0,0,0,0,0,0,0,...,0,0,1,289.210000,77,1016,mist,50,6,0
1322682,6920,1,2015-06-28 04:20:00,0,0,0,0,0,0,0,...,0,0,1,288.530000,88,1011,drizzle,60,7,0
1322683,6921,1,2015-06-28 12:12:00,0,0,0,0,0,0,0,...,0,0,1,289.640000,88,1005,mist,10,2,0
1322684,6922,1,2015-06-28 12:16:00,0,0,0,0,0,0,0,...,0,0,1,289.640000,88,1005,mist,10,2,0
1322685,6923,1,2015-06-28 12:31:00,0,0,0,0,0,0,0,...,0,0,1,289.640000,88,1005,mist,10,2,0
1322686,6924,1,2015-06-28 12:33:00,0,0,0,0,0,0,0,...,0,0,1,289.640000,88,1005,mist,10,2,0
1322687,6925,1,2015-06-28 13:04:00,0,0,0,0,0,0,0,...,0,0,1,289.730000,77,1014,mist,170,1,0
1322688,6926,1,2015-06-29 07:57:00,0,0,0,0,0,0,0,...,0,0,1,291.160000,72,1008,sky is clear,270,2,0
1322689,6927,1,2015-06-29 10:28:00,0,0,0,0,0,0,0,...,0,0,1,289.200000,93,1009,overcast clouds,80,2,0
1322690,6928,1,2015-06-29 18:44:00,0,0,0,0,0,0,0,...,0,0,1,296.230000,57,1013,broken clouds,310,3,0

In [2]:
#reorder colmns
df=df.drop(['Unnamed: 0'],axis=1)
cols = df.columns.tolist()
y = cols[0]
cols[0] = cols[1]
cols[1] = y

df=df[cols]
df

,ds,y,7_Allerton/Pelham Gardens,7_Bedford Park,7_Belmont,7_Bronx Park,7_Bronxdale,7_City Island,7_Claremont/Bathgate,7_Co-Op City,...,7_Stapleton,7_West Brighton,7_Westerleigh,Temperature,Humidity,Pressure,Weather Type,Wind Direction,Wind Speed,Holiday
0,2015-01-01 00:02:34,1,1,0,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
1,2015-01-01 00:47:00,1,1,0,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
2,2015-01-01 01:19:18,1,1,0,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
3,2015-01-01 02:11:55,1,1,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
4,2015-01-01 03:19:41,2,1,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
5,2015-01-01 03:54:07,2,1,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
6,2015-01-01 05:28:00,1,1,0,0,0,0,0,0,0,...,0,0,0,266.667000,52,1019,sky is clear,251,3,1
7,2015-01-01 16:38:51,1,1,0,0,0,0,0,0,0,...,0,0,0,271.460667,88,1034,sky is clear,242,4,1
8,2015-01-01 18:58:30,1,1,0,0,0,0,0,0,0,...,0,0,0,271.949219,70,1024,sky is clear,244,4,1
9,2015-01-01 20:36:05,1,1,0,0,0,0,0,0,0,...,0,0,0,272.941000,54,1015,sky is clear,244,4,1
10,2015-01-01 21:03:59,1,1,0,0,0,0,0,0,0,...,0,0,0,272.941000,54,1015,sky is clear,244,4,1
11,2015-01-01 23:05:09,1,1,0,0,0,0,0,0,0,...,0,0,0,272.754000,58,1015,sky is clear,241,3,1
12,2015-01-01 23:38:29,1,1,0,0,0,0,0,0,0,...,0,0,0,272.754000,58,1015,sky is clear,241,3,1
13,2015-01-02 06:35:36,1,1,0,0,0,0,0,0,0,...,0,0,0,273.027000,59,1016,sky is clear,259,3,0
14,2015-01-02 09:15:24,1,1,0,0,0,0,0,0,0,...,0,0,0,272.405000,62,1016,sky is clear,261,3,0
15,2015-01-02 20:06:24,1,1,0,0,0,0,0,0,0,...,0,0,0,276.237000,56,1023,sky is clear,271,3,0
16,2015-01-02 22:09:36,1,1,0,0,0,0,0,0,0,...,0,0,0,276.237000,56,1023,sky is clear,271,3,0
17,2015-01-03 00:09:50,1,1,0,0,0,0,0,0,0,...,0,0,0,272.583000,62,1025,sky is clear,266,2,0
18,2015-01-03 00:43:16,1,1,0,0,0,0,0,0,0,...,0,0,0,272.583000,62,1025,sky is clear,266,2,0
19,2015-01-03 02:16:30,1,1,0,0,0,0,0,0,0,...,0,0,0,269.642000,70,1028,sky is clear,264,1,0
20,2015-01-03 03:02:16,1,1,0,0,0,0,0,0,0,...,0,0,0,269.642000,70,1028,sky is clear,264,1,0
21,2015-01-03 03:42:58,1,1,0,0,0,0,0,0,0,...,0,0,0,269.642000,70,1028,sky is clear,264,1,0
22,2015-01-03 05:52:00,1,1,0,0,0,0,0,0,0,...,0,0,0,266.944000,77,1030,sky is clear,294,1,0
23,2015-01-03 07:10:16,1,1,0,0,0,0,0,0,0,...,0,0,0,266.944000,77,1030,sky is clear,294,1,0
24,2015-01-03 09:46:51,1,1,0,0,0,0,0,0,0,...,0,0,0,266.302000,77,1031,few clouds,7,2,0
25,2015-01-03 13:28:09,1,1,0,0,0,0,0,0,0,...,0,0,0,266.718000,79,1032,few clouds,52,1,0
26,2015-01-03 15:09:27,1,1,0,0,0,0,0,0,0,...,0,0,0,272.883544,68,1037,broken clouds,84,2,0
27,2015-01-03 15:46:21,1,1,0,0,0,0,0,0,0,...,0,0,0,272.883544,68,1037,broken clouds,84,2,0
28,2015-01-03 16:12:03,1,1,0,0,0,0,0,0,0,...,0,0,0,274.930667,84,1049,broken clouds,91,3,0
29,2015-01-03 20:18:39,1,1,0,0,0,0,0,0,0,...,0,0,0,274.050000,94,1022,light rain,107,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322661,2015-06-25 12:24:00,1,0,0,0,0,0,0,0,0,...,0,0,1,292.920000,49,1018,broken clouds,0,2,0
1322662,2015-06-25 15:16:00,1,0,0,0,0,0,0,0,0,...,0,0,1,298.300000,41,1019,broken clouds,280,2,0
1322663,2015-06-25 20:26:00,1,0,0,0,0,0,0,0,0,...,0,0,1,299.650000,69,1014,overcast clouds,290,4,0
1322664,2015-06-25 21:15:00,1,0,0,0,0,0,0,0,0,...,0,0,1,299.200000,50,1016,broken clouds,240,4,0
1322665,2015-06-25 21:23:00,1,0,0,0,0,0,0,0,0,...,0,0,1,299.200000,50,1016,broken clouds,240,4,0
1322666,2015-06-25 21:52:00,1,0,0,0,0,0,0,0,0,...,0,0,1,299.200000,50,1016,broken clouds,240,4,0
1322667,2015-06-25 23:35:00,1,0,0,0,0,0,0,0,0,...,0,0,1,297.470000,61,1015,overcast clouds,220,2,0
1322668,2015-06-26 06:33:00,1,0,0,0,0,0,0,0,0,...,0,0,1,293.660000,77,1014,overcast clouds,233,1,0
1322669,2015-06-26 19:33:00,1,0,0,0,0,0,0,0,0,...,0,0,1,298.610000,51,1015,scattered clouds,150,3,0
1322670,2015-06-26 19:54:00,1,0,0,0,0,0,0,0,0,...,0,0,1,298.610000,51,1015,scattered clouds,150,3,0
1322671,2015-06-26 20:37:00,1,0,0,0,0,0,0,0,0,...,0,0,1,298.630000,48,1015,broken clouds,150,4,0
1322672,2015-06-27 01:11:00,1,0,0,0,0,0,0,0,0,...,0,0,1,295.430000,73,1017,overcast clouds,150,2,0
1322673,2015-06-27 04:04:00,1,0,0,0,0,0,0,0,0,...,0,0,1,293.010000,88,1019,broken clouds,98,1,0
1322674,2015-06-27 10:22:00,1,0,0,0,0,0,0,0,0,...,0,0,1,291.590000,88,1019,overcast clouds,109,2,0
1322675,2015-06-27 12:52:00,1,0,0,0,0,0,0,0,0,...,0,0,1,292.460000,77,1020,mist,40,1,0
1322676,2015-06-27 14:12:00,1,0,0,0,0,0,0,0,0,...,0,0,1,293.520000,60,1019,mist,90,5,0
1322677,2015-06-27 16:18:00,1,0,0,0,0,0,0,0,0,...,0,0,1,293.810000,64,1019,light rain,100,4,0
1322678,2015-06-27 17:37:00,1,0,0,0,0,0,0,0,0,...,0,0,1,293.670000,64,1019,light intensity drizzle,120,5,0
1322679,2015-06-27 17:57:00,1,0,0,0,0,0,0,0,0,...,0,0,1,293.670000,64,1019,light intensity drizzle,120,5,0
1322680,2015-06-27 22:35:00,1,0,0,0,0,0,0,0,0,...,0,0,1,289.560000,72,1016,mist,60,5,0
1322681,2015-06-27 23:02:00,1,0,0,0,0,0,0,0,0,...,0,0,1,289.210000,77,1016,mist,50,6,0
1322682,2015-06-28 04:20:00,1,0,0,0,0,0,0,0,0,...,0,0,1,288.530000,88,1011,drizzle,60,7,0
1322683,2015-06-28 12:12:00,1,0,0,0,0,0,0,0,0,...,0,0,1,289.640000,88,1005,mist,10,2,0
1322684,2015-06-28 12:16:00,1,0,0,0,0,0,0,0,0,...,0,0,1,289.640000,88,1005,mist,10,2,0
1322685,2015-06-28 12:31:00,1,0,0,0,0,0,0,0,0,...,0,0,1,289.640000,88,1005,mist,10,2,0
1322686,2015-06-28 12:33:00,1,0,0,0,0,0,0,0,0,...,0,0,1,289.640000,88,1005,mist,10,2,0
1322687,2015-06-28 13:04:00,1,0,0,0,0,0,0,0,0,...,0,0,1,289.730000,77,1014,mist,170,1,0
1322688,2015-06-29 07:57:00,1,0,0,0,0,0,0,0,0,...,0,0,1,291.160000,72,1008,sky is clear,270,2,0
1322689,2015-06-29 10:28:00,1,0,0,0,0,0,0,0,0,...,0,0,1,289.200000,93,1009,overcast clouds,80,2,0
1322690,2015-06-29 18:44:00,1,0,0,0,0,0,0,0,0,...,0,0,1,296.230000,57,1013,broken clouds,310,3,0

In [3]:
#sort by datetime
df['Date'] = pd.to_datetime(df['ds'])
df=df.sort_values(by='Date')
df=df.drop(['Date'],axis=1)
df

,ds,y,7_Allerton/Pelham Gardens,7_Bedford Park,7_Belmont,7_Bronx Park,7_Bronxdale,7_City Island,7_Claremont/Bathgate,7_Co-Op City,...,7_Stapleton,7_West Brighton,7_Westerleigh,Temperature,Humidity,Pressure,Weather Type,Wind Direction,Wind Speed,Holiday
77488,2015-01-01 00:00:29,4,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
63794,2015-01-01 00:00:38,1,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
370807,2015-01-01 00:00:53,47,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
286878,2015-01-01 00:01:08,7,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
36702,2015-01-01 00:01:19,1,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1321010,2015-01-01 00:01:23,1,0,0,0,0,0,0,0,0,...,1,0,0,268.05,59,1022,sky is clear,249,2,1
258796,2015-01-01 00:01:32,25,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1282332,2015-01-01 00:01:34,22,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
811840,2015-01-01 00:01:37,41,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
118304,2015-01-01 00:01:41,7,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1071298,2015-01-01 00:01:44,2,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1149002,2015-01-01 00:01:53,2,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1077014,2015-01-01 00:02:12,4,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
0,2015-01-01 00:02:34,1,1,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
794590,2015-01-01 00:03:03,50,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
837338,2015-01-01 00:03:03,38,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1171679,2015-01-01 00:03:16,4,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
942953,2015-01-01 00:03:22,35,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
546878,2015-01-01 00:03:29,11,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1018916,2015-01-01 00:03:33,31,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
448309,2015-01-01 00:03:43,7,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
385719,2015-01-01 00:03:49,6,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
87844,2015-01-01 00:03:56,1,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
135901,2015-01-01 00:03:58,5,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1140903,2015-01-01 00:04:01,16,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
146654,2015-01-01 00:04:02,18,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
1102237,2015-01-01 00:04:29,24,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
42519,2015-01-01 00:04:35,2,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
255596,2015-01-01 00:04:38,3,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
783598,2015-01-01 00:04:49,1,0,0,0,0,0,0,0,0,...,0,0,0,268.05,59,1022,sky is clear,249,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312549,2015-06-30 23:54:00,4,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
75070,2015-06-30 23:55:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
454760,2015-06-30 23:55:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
820464,2015-06-30 23:55:00,36,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1322057,2015-06-30 23:55:00,1,0,0,0,0,0,0,0,0,...,0,1,0,297.30,69,1011,light rain,150,5,0
367624,2015-06-30 23:55:00,5,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
234114,2015-06-30 23:55:00,3,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
97270,2015-06-30 23:55:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
538431,2015-06-30 23:55:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1077013,2015-06-30 23:56:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
196765,2015-06-30 23:56:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
811839,2015-06-30 23:56:00,38,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
630295,2015-06-30 23:57:00,16,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
934538,2015-06-30 23:57:00,77,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1298944,2015-06-30 23:57:00,3,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
837337,2015-06-30 23:57:00,4,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
436224,2015-06-30 23:57:00,13,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
30528,2015-06-30 23:57:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1267626,2015-06-30 23:57:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1226846,2015-06-30 23:57:00,6,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
344975,2015-06-30 23:58:00,11,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1099961,2015-06-30 23:58:00,6,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
396496,2015-06-30 23:58:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
91035,2015-06-30 23:58:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
697930,2015-06-30 23:58:00,25,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1069029,2015-06-30 23:59:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
530900,2015-06-30 23:59:00,22,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
638154,2015-06-30 23:59:00,20,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1234231,2015-06-30 23:59:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1276685,2015-06-30 23:59:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0

In [6]:
#validation set
df.tail(7651)

,ds,y,7_Allerton/Pelham Gardens,7_Bedford Park,7_Belmont,7_Bronx Park,7_Bronxdale,7_City Island,7_Claremont/Bathgate,7_Co-Op City,...,7_Stapleton,7_West Brighton,7_Westerleigh,Temperature,Humidity,Pressure,Weather Type,Wind Direction,Wind Speed,Holiday
1129079,2015-06-30 00:00:00,1,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
1027371,2015-06-30 00:00:00,9,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
579359,2015-06-30 00:00:00,17,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
504942,2015-06-30 00:00:00,16,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
118272,2015-06-30 00:00:00,2,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
36691,2015-06-30 00:01:00,1,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
783558,2015-06-30 00:01:00,3,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
479732,2015-06-30 00:01:00,1,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
414925,2015-06-30 00:01:00,2,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
379378,2015-06-30 00:01:00,12,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
1189627,2015-06-30 00:02:00,13,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
854483,2015-06-30 00:02:00,35,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
1110382,2015-06-30 00:02:00,2,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
646745,2015-06-30 00:02:00,13,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
459260,2015-06-30 00:02:00,1,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
1178786,2015-06-30 00:02:00,17,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
436180,2015-06-30 00:02:00,4,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
63757,2015-06-30 00:02:00,5,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
11970,2015-06-30 00:03:00,2,0,0,1,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
993542,2015-06-30 00:03:00,5,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
704429,2015-06-30 00:03:00,1,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
866234,2015-06-30 00:03:00,3,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
1279324,2015-06-30 00:03:00,1,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
1290560,2015-06-30 00:04:00,4,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
1121386,2015-06-30 00:04:00,1,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
1282310,2015-06-30 00:04:00,1,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
883115,2015-06-30 00:04:00,3,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
730994,2015-06-30 00:04:00,9,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
689149,2015-06-30 00:04:00,4,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
587910,2015-06-30 00:04:00,9,0,0,0,0,0,0,0,0,...,0,0,0,296.36,53,1013,few clouds,230,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312549,2015-06-30 23:54:00,4,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
75070,2015-06-30 23:55:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
454760,2015-06-30 23:55:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
820464,2015-06-30 23:55:00,36,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1322057,2015-06-30 23:55:00,1,0,0,0,0,0,0,0,0,...,0,1,0,297.30,69,1011,light rain,150,5,0
367624,2015-06-30 23:55:00,5,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
234114,2015-06-30 23:55:00,3,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
97270,2015-06-30 23:55:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
538431,2015-06-30 23:55:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1077013,2015-06-30 23:56:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
196765,2015-06-30 23:56:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
811839,2015-06-30 23:56:00,38,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
630295,2015-06-30 23:57:00,16,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
934538,2015-06-30 23:57:00,77,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1298944,2015-06-30 23:57:00,3,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
837337,2015-06-30 23:57:00,4,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
436224,2015-06-30 23:57:00,13,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
30528,2015-06-30 23:57:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1267626,2015-06-30 23:57:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1226846,2015-06-30 23:57:00,6,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
344975,2015-06-30 23:58:00,11,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1099961,2015-06-30 23:58:00,6,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
396496,2015-06-30 23:58:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
91035,2015-06-30 23:58:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
697930,2015-06-30 23:58:00,25,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1069029,2015-06-30 23:59:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
530900,2015-06-30 23:59:00,22,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
638154,2015-06-30 23:59:00,20,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1234231,2015-06-30 23:59:00,1,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0
1276685,2015-06-30 23:59:00,2,0,0,0,0,0,0,0,0,...,0,0,0,297.30,69,1011,light rain,150,5,0

In [7]:
#testing
df.loc[df['6_Battery Park City'] == 1]

,ds,y,7_Allerton/Pelham Gardens,7_Bedford Park,7_Belmont,7_Bronx Park,7_Bronxdale,7_City Island,7_Claremont/Bathgate,7_Co-Op City,...,7_Stapleton,7_West Brighton,7_Westerleigh,Temperature,Humidity,Pressure,Weather Type,Wind Direction,Wind Speed,Holiday
522382,2015-01-01 00:14:10,28,0,0,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
522383,2015-01-01 00:50:38,23,0,0,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
522384,2015-01-01 01:25:50,6,0,0,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
522385,2015-01-01 01:57:19,8,0,0,0,0,0,0,0,0,...,0,0,0,268.050000,59,1022,sky is clear,249,2,1
522386,2015-01-01 02:20:18,19,0,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
522387,2015-01-01 02:45:06,4,0,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
522388,2015-01-01 03:02:21,12,0,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
522389,2015-01-01 03:49:01,11,0,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
522390,2015-01-01 04:17:40,3,0,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
522391,2015-01-01 04:35:30,3,0,0,0,0,0,0,0,0,...,0,0,0,267.186000,58,1021,sky is clear,246,2,1
522392,2015-01-01 05:14:17,6,0,0,0,0,0,0,0,0,...,0,0,0,266.667000,52,1019,sky is clear,251,3,1
522393,2015-01-01 05:32:16,4,0,0,0,0,0,0,0,0,...,0,0,0,266.667000,52,1019,sky is clear,251,3,1
522394,2015-01-01 06:08:51,1,0,0,0,0,0,0,0,0,...,0,0,0,266.667000,52,1019,sky is clear,251,3,1
522395,2015-01-01 06:59:22,3,0,0,0,0,0,0,0,0,...,0,0,0,266.667000,52,1019,sky is clear,251,3,1
522396,2015-01-01 07:18:33,1,0,0,0,0,0,0,0,0,...,0,0,0,266.667000,52,1019,sky is clear,251,3,1
522397,2015-01-01 07:37:03,1,0,0,0,0,0,0,0,0,...,0,0,0,266.667000,52,1019,sky is clear,251,3,1
522398,2015-01-01 08:19:57,1,0,0,0,0,0,0,0,0,...,0,0,0,266.576000,57,1018,sky is clear,258,3,1
522399,2015-01-01 08:40:23,1,0,0,0,0,0,0,0,0,...,0,0,0,266.576000,57,1018,sky is clear,258,3,1
522400,2015-01-01 09:10:30,1,0,0,0,0,0,0,0,0,...,0,0,0,266.576000,57,1018,sky is clear,258,3,1
522401,2015-01-01 09:46:40,3,0,0,0,0,0,0,0,0,...,0,0,0,266.576000,57,1018,sky is clear,258,3,1
522402,2015-01-01 10:18:49,1,0,0,0,0,0,0,0,0,...,0,0,0,266.576000,57,1018,sky is clear,258,3,1
522403,2015-01-01 10:40:24,2,0,0,0,0,0,0,0,0,...,0,0,0,266.576000,57,1018,sky is clear,258,3,1
522404,2015-01-01 11:08:16,3,0,0,0,0,0,0,0,0,...,0,0,0,266.449000,57,1019,sky is clear,261,3,1
522405,2015-01-01 11:54:17,5,0,0,0,0,0,0,0,0,...,0,0,0,266.449000,57,1019,sky is clear,261,3,1
522406,2015-01-01 12:21:14,4,0,0,0,0,0,0,0,0,...,0,0,0,266.449000,57,1019,sky is clear,261,3,1
522407,2015-01-01 12:55:13,7,0,0,0,0,0,0,0,0,...,0,0,0,266.449000,57,1019,sky is clear,261,3,1
522408,2015-01-01 13:15:47,7,0,0,0,0,0,0,0,0,...,0,0,0,267.178610,62,1021,sky is clear,258,3,1
522409,2015-01-01 13:31:15,8,0,0,0,0,0,0,0,0,...,0,0,0,267.178610,62,1021,sky is clear,258,3,1
522410,2015-01-01 14:12:52,8,0,0,0,0,0,0,0,0,...,0,0,0,268.991305,76,1028,sky is clear,251,3,1
522411,2015-01-01 14:51:27,9,0,0,0,0,0,0,0,0,...,0,0,0,268.991305,76,1028,sky is clear,251,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530871,2015-06-30 09:16:00,29,0,0,0,0,0,0,0,0,...,0,0,0,290.290000,93,1008,scattered clouds,290,2,0
530872,2015-06-30 09:37:00,21,0,0,0,0,0,0,0,0,...,0,0,0,290.290000,93,1008,scattered clouds,290,2,0
530873,2015-06-30 10:04:00,18,0,0,0,0,0,0,0,0,...,0,0,0,290.370000,87,1015,mist,162,1,0
530874,2015-06-30 10:53:00,13,0,0,0,0,0,0,0,0,...,0,0,0,290.370000,87,1015,mist,162,1,0
530875,2015-06-30 11:29:00,15,0,0,0,0,0,0,0,0,...,0,0,0,290.820000,88,1015,overcast clouds,157,1,0
530876,2015-06-30 11:43:00,21,0,0,0,0,0,0,0,0,...,0,0,0,290.820000,88,1015,overcast clouds,157,1,0
530877,2015-06-30 12:20:00,12,0,0,0,0,0,0,0,0,...,0,0,0,292.840000,93,1009,sky is clear,270,1,0
530878,2015-06-30 12:56:00,19,0,0,0,0,0,0,0,0,...,0,0,0,292.840000,93,1009,sky is clear,270,1,0
530879,2015-06-30 13:14:00,28,0,0,0,0,0,0,0,0,...,0,0,0,294.190000,83,1015,overcast clouds,157,1,0
530880,2015-06-30 13:49:00,15,0,0,0,0,0,0,0,0,...,0,0,0,294.190000,83,1015,overcast clouds,157,1,0
530881,2015-06-30 14:19:00,14,0,0,0,0,0,0,0,0,...,0,0,0,296.330000,53,1015,sky is clear,160,3,0
530882,2015-06-30 14:53:00,22,0,0,0,0,0,0,0,0,...,0,0,0,296.330000,53,1015,sky is clear,160,3,0
530883,2015-06-30 15:15:00,16,0,0,0,0,0,0,0,0,...,0,0,0,298.060000,47,1015,scattered clouds,160,5,0
530884,2015-06-30 15:42:00,34,0,0,0,0,0,0,0,0,...,0,0,0,298.060000,47,1015,scattered clouds,160,5,0
530885,2015-06-30 16:14:00,26,0,0,0,0,0,0,0,0,...,0,0,0,299.390000,57,1014,overcast clouds,210,5,0
530886,2015-06-30 16:55:00,30,0,0,0,0,0,0,0,0,...,0,0,0,299.390000,57,1014,overcast clouds,210,5,0
530887,2015-06-30 17:21:00,32,0,0,0,0,0,0,0,0,...,0,0,0,299.520000,47,1015,sky is clear,160,5,0
530888,2015-06-30 17:40:00,45,0,0,0,0,0,0,0,0,...,0,0,0,299.520000,47,1015,sky is clear,160,5,0
530889,2015-06-30 18:28:00,56,0,0,0,0,0,0,0,0,...,0,0,0,299.810000,51,1014,light rain,150,6,0
530890,2015-06-30 18:34:00,41,0,0,0,0,0,0,0,0,...,0,0,0,299.810000,51,1014,light rain,150,6,0
530891,2015-06-30 19:01:00,50,0,0,0,0,0,0,0,0,...,0,0,0,300.130000,51,1012,broken clouds,150,5,0
530892,2015-06-30 19:32:00,39,0,0,0,0,0,0,0,0,...,0,0,0,300.130000,51,1012,broken clouds,150,5,0
530893,2015-06-30 20:03:00,37,0,0,0,0,0,0,0,0,...,0,0,0,299.450000,54,1012,broken clouds,180,4,0
530894,2015-06-30 20:57:00,28,0,0,0,0,0,0,0,0,...,0,0,0,299.450000,54,1012,broken clouds,180,4,0
530895,2015-06-30 21:04:00,37,0,0,0,0,0,0,0,0,...,0,0,0,299.020000,51,1012,overcast clouds,170,3,0
530896,2015-06-30 21:31:00,44,0,0,0,0,0,0,0,0,...,0,0,0,299.020000,51,1012,overcast clouds,170,3,0
530897,2015-06-30 22:20:00,42,0,0,0,0,0,0,0,0,...,0,0,0,298.060000,61,1011,light rain,150,5,0
530898,2015-06-30 22:59:00,23,0,0,0,0,0,0,0,0,...,0,0,0,298.060000,61,1011,light rain,150,5,0
530899,2015-06-30 23:14:00,20,0,0,0,0,0,0,0,0,...,0,0,0,297.300000,69,1011,light rain,150,5,0
530900,2015-06-30 23:59:00,22,0,0,0,0,0,0,0,0,...,0,0,0,297.300000,69,1011,light rain,150,5,0

In [14]:
df.to_csv('final.csv')

In [8]:
from fbprophet import Prophet
#initiate
m = Prophet()

In [12]:
#add regressors
cols=list(df.columns.values)[2:]
for col in cols:
    m.add_regressor(col)

In [13]:
#divide into train,valid
#valid=all 7651 entries from last day, i.e. 30th June 2015

train=df.loc[0:(1322691-7651),:]
train

,ds,y,7_Allerton/Pelham Gardens,7_Bedford Park,7_Belmont,7_Bronx Park,7_Bronxdale,7_City Island,7_Claremont/Bathgate,7_Co-Op City,...,7_Stapleton,7_West Brighton,7_Westerleigh,Temperature,Humidity,Pressure,Weather Type,Wind Direction,Wind Speed,Holiday
0,2015-01-01 00:02:34,1,1,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
794590,2015-01-01 00:03:03,50,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
837338,2015-01-01 00:03:03,38,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
1171679,2015-01-01 00:03:16,4,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
942953,2015-01-01 00:03:22,35,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
546878,2015-01-01 00:03:29,11,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
1018916,2015-01-01 00:03:33,31,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
448309,2015-01-01 00:03:43,7,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
385719,2015-01-01 00:03:49,6,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
87844,2015-01-01 00:03:56,1,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
135901,2015-01-01 00:03:58,5,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
1140903,2015-01-01 00:04:01,16,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
146654,2015-01-01 00:04:02,18,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
1102237,2015-01-01 00:04:29,24,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
42519,2015-01-01 00:04:35,2,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
255596,2015-01-01 00:04:38,3,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
783598,2015-01-01 00:04:49,1,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
57989,2015-01-01 00:05:04,4,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
7026,2015-01-01 00:05:05,4,0,0,1,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
226096,2015-01-01 00:05:17,13,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
479764,2015-01-01 00:05:17,11,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
1053198,2015-01-01 00:05:21,6,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
1302947,2015-01-01 00:05:27,4,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
1196810,2015-01-01 00:05:28,4,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
474378,2015-01-01 00:05:30,3,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
776681,2015-01-01 00:06:05,1,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
829105,2015-01-01 00:06:23,12,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
274931,2015-01-01 00:06:45,1,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
820465,2015-01-01 00:06:48,27,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
1181144,2015-01-01 00:06:53,50,0,0,0,0,0,0,0,0,...,0,0,0,268.050,59,1022,sky is clear,249,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123016,2015-06-14 13:31:00,2,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
775916,2015-06-14 13:31:00,15,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
950642,2015-06-14 13:31:00,32,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
874103,2015-06-14 13:31:00,22,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
395993,2015-06-14 13:31:00,1,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
703772,2015-06-14 13:31:00,3,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
102990,2015-06-14 13:31:00,2,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
908278,2015-06-14 13:32:00,47,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
117817,2015-06-14 13:32:00,1,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
191119,2015-06-14 13:32:00,27,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
15958,2015-06-14 13:32:00,2,0,0,0,0,1,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
1154889,2015-06-14 13:32:00,1,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
561951,2015-06-14 13:32:00,4,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
629508,2015-06-14 13:32:00,24,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
210039,2015-06-14 13:32:00,6,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
782923,2015-06-14 13:32:00,1,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
407993,2015-06-14 13:33:00,4,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
1086629,2015-06-14 13:33:00,6,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
554611,2015-06-14 13:33:00,14,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
1109653,2015-06-14 13:33:00,16,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
241859,2015-06-14 13:33:00,12,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
802430,2015-06-14 13:34:00,21,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
1276063,2015-06-14 13:34:00,3,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
1071024,2015-06-14 13:34:00,1,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
322260,2015-06-14 13:35:00,1,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
63183,2015-06-14 13:35:00,1,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
755805,2015-06-14 13:35:00,35,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
967644,2015-06-14 13:35:00,27,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
1063504,2015-06-14 13:35:00,3,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0
1315040,2015-06-14 13:35:00,9,0,0,0,0,0,0,0,0,...,0,0,0,294.404,73,1028,sky is clear,350,1,0