In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('uber-raw-data-jan-15.csv')

In [46]:
df

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,1,B02598,2015-01-01 15:43:04,B02598,89
1,2,B02598,2015-01-01 17:09:38,B02598,148
2,3,B02598,2015-01-01 02:10:01,B02789,164
3,4,B02598,2015-01-01 08:58:52,B02598,138
4,5,B02598,2015-01-01 16:16:43,B02598,236
5,6,B02598,2015-01-01 13:23:05,B02598,50
6,7,B02598,2015-01-01 01:54:27,B02598,142
7,8,B02598,2015-01-01 18:21:50,B02598,138
8,9,B02598,2015-01-01 02:58:23,B02764,234
9,10,B02598,2015-01-01 02:44:36,B02598,148
10,11,B02598,2015-01-01 02:58:28,B02598,148
11,12,B02598,2015-01-01 08:58:11,B02598,231
12,13,B02598,2015-01-01 12:20:01,B02598,24
13,14,B02598,2015-01-01 16:19:35,B02598,76
14,15,B02598,2015-01-01 17:52:35,B02598,211
15,16,B02598,2015-01-01 19:41:36,B02598,227
16,17,B02598,2015-01-01 10:43:19,B00789,170
17,18,B02598,2015-01-01 04:32:59,B02598,36
18,19,B02598,2015-01-01 02:31:44,B02764,145
19,20,B02598,2015-01-01 18:32:50,B02598,17
20,21,B02598,2015-01-01 02:19:16,B02598,142
21,22,B02598,2015-01-01 13:47:37,B02598,229
22,23,B02598,2015-01-01 00:41:02,B02617,163
23,24,B02598,2015-01-01 01:25:45,B02598,231
24,25,B02598,2015-01-01 02:18:14,B02598,48
25,26,B02598,2015-01-01 19:23:52,B02598,233
26,27,B02598,2015-01-01 18:07:21,B02598,65
27,28,B02598,2015-01-01 20:03:21,B02598,74
28,29,B02598,2015-01-01 05:36:46,B02598,89
29,30,B02598,2015-01-01 17:15:43,B02764,157
...,...,...,...,...,...
1953771,1953772,B02765,2015-01-31 21:33:51,B02617,48
1953772,1953773,B02765,2015-01-31 19:44:15,B00446,249
1953773,1953774,B02765,2015-01-31 14:58:06,B02682,132
1953774,1953775,B02765,2015-01-31 00:27:30,B02765,237
1953775,1953776,B02765,2015-01-31 04:05:45,B02765,144
1953776,1953777,B02765,2015-01-31 22:58:38,B02729,211
1953777,1953778,B02765,2015-01-31 20:17:56,B02765,75
1953778,1953779,B02765,2015-01-31 01:10:09,B02765,114
1953779,1953780,B02765,2015-01-31 19:25:40,B00272,237
1953780,1953781,B02765,2015-01-31 19:34:22,B02682,224
1953781,1953782,B02765,2015-01-31 21:04:14,B02764,234
1953782,1953783,B02765,2015-01-31 17:59:56,B02765,68
1953783,1953784,B02765,2015-01-31 09:42:54,B02764,48
1953784,1953785,B02765,2015-01-31 20:54:01,B02765,231
1953785,1953786,B02765,2015-01-31 20:01:48,B02765,170
1953786,1953787,B02765,2015-01-31 01:01:15,B02765,87
1953787,1953788,B02765,2015-01-31 23:32:14,B02765,57
1953788,1953789,B02765,2015-01-31 19:11:47,B02394,161
1953789,1953790,B02765,2015-01-31 19:31:01,B02617,255
1953790,1953791,B02765,2015-01-31 17:19:36,B02765,237
1953791,1953792,B02765,2015-01-31 14:15:57,B01899,87
1953792,1953793,B02765,2015-01-31 15:41:39,B02765,225
1953793,1953794,B02765,2015-01-31 01:19:00,B00111,113
1953794,1953795,B02765,2015-01-31 01:45:42,B02598,61
1953795,1953796,B02765,2015-01-31 14:49:21,B01998,79
1953796,1953797,B02765,2015-01-31 23:13:56,B01087,138
1953797,1953798,B02765,2015-01-31 05:32:27,B00608,41
1953798,1953799,B02765,2015-01-31 17:54:05,B00477,112
1953799,1953800,B02765,2015-01-31 21:33:18,B02765,112
1953800,1953801,B02765,2015-01-31 15:04:42,B02617,186

In [47]:
df1 = pd.read_csv('uber-raw-data-feb-15.csv')

In [48]:
df1

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,1,B02764,2015-02-01 03:11:10,B02764,255
1,2,B02764,2015-02-01 22:08:19,B02715,141
2,3,B02764,2015-02-01 23:13:59,B02764,113
3,4,B02764,2015-02-01 21:50:41,B02764,223
4,5,B02764,2015-02-01 18:39:00,B02644,227
5,6,B02764,2015-02-01 17:29:58,B02764,170
6,7,B02764,2015-02-01 13:38:16,B02764,162
7,8,B02764,2015-02-01 14:58:12,B02764,95
8,9,B02764,2015-02-01 21:59:59,B02764,106
9,10,B02764,2015-02-01 14:31:05,B02764,79
10,11,B02764,2015-02-01 10:05:24,B02764,37
11,12,B02764,2015-02-01 17:36:34,B02764,232
12,13,B02764,2015-02-01 07:59:35,B01949,79
13,14,B02764,2015-02-01 17:33:16,B02764,236
14,15,B02764,2015-02-01 01:15:23,B02764,162
15,16,B02764,2015-02-01 22:34:51,B02764,87
16,17,B02764,2015-02-01 14:05:01,B02764,140
17,18,B02764,2015-02-01 09:48:57,B02617,151
18,19,B02764,2015-02-01 22:53:29,B00448,224
19,20,B02764,2015-02-01 07:28:50,B02764,224
20,21,B02764,2015-02-01 17:57:37,B00271,25
21,22,B02764,2015-02-01 01:08:58,B02764,211
22,23,B02764,2015-02-01 10:41:21,B00448,170
23,24,B02764,2015-02-01 07:51:27,B02764,239
24,25,B02764,2015-02-01 11:45:11,B01183,165
25,26,B02764,2015-02-01 17:29:48,B02764,189
26,27,B02764,2015-02-01 19:46:26,B02764,97
27,28,B02764,2015-02-01 00:43:54,NaN,164
28,29,B02764,2015-02-01 18:54:50,B00111,231
29,30,B02764,2015-02-01 15:09:17,B00296,138
...,...,...,...,...,...
2263590,2263591,B02765,2015-02-28 12:42:29,B02394,237
2263591,2263592,B02765,2015-02-28 09:46:02,B00111,237
2263592,2263593,B02765,2015-02-28 11:24:39,B02003,262
2263593,2263594,B02765,2015-02-28 13:48:10,B02765,161
2263594,2263595,B02765,2015-02-28 19:23:16,B02765,223
2263595,2263596,B02765,2015-02-28 17:13:10,B02765,143
2263596,2263597,B02765,2015-02-28 12:38:49,B02765,107
2263597,2263598,B02765,2015-02-28 17:10:45,B02765,79
2263598,2263599,B02765,2015-02-28 14:02:55,B00789,229
2263599,2263600,B02765,2015-02-28 22:40:37,B02765,229
2263600,2263601,B02765,2015-02-28 17:10:37,B02765,263
2263601,2263602,B02765,2015-02-28 18:36:13,NaN,79
2263602,2263603,B02765,2015-02-28 22:30:47,B02765,231
2263603,2263604,B02765,2015-02-28 23:45:34,B02765,229
2263604,2263605,B02765,2015-02-28 21:56:27,B02765,62
2263605,2263606,B02765,2015-02-28 18:02:21,B02765,238
2263606,2263607,B02765,2015-02-28 21:14:05,B02765,249
2263607,2263608,B02765,2015-02-28 14:14:43,B00111,161
2263608,2263609,B02765,2015-02-28 21:53:05,B02765,43
2263609,2263610,B02765,2015-02-28 17:13:57,B00014,262
2263610,2263611,B02765,2015-02-28 20:25:51,B02765,48
2263611,2263612,B02765,2015-02-28 21:58:40,NaN,246
2263612,2263613,B02765,2015-02-28 23:09:28,B02764,237
2263613,2263614,B02765,2015-02-28 06:55:42,B02765,4
2263614,2263615,B02765,2015-02-28 00:58:05,B00789,152
2263615,2263616,B02765,2015-02-28 17:51:17,B02765,107
2263616,2263617,B02765,2015-02-28 16:24:33,B02764,48
2263617,2263618,B02765,2015-02-28 01:01:11,B02765,211
2263618,2263619,B02765,2015-02-28 21:07:31,B02401,144
2263619,2263620,B02765,2015-02-28 12:55:12,B02765,231

In [49]:
df2 = pd.read_csv('uber-raw-data-march-15.csv')

In [50]:
df2

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,1,B02598,2015-03-01 00:01:00,B02598,148
1,2,B02598,2015-03-01 00:03:00,B02598,181
2,3,B02598,2015-03-01 00:03:00,B00411,142
3,4,B02598,2015-03-01 00:03:00,B02598,263
4,5,B02598,2015-03-01 00:04:00,B02598,161
5,6,B02598,2015-03-01 00:04:00,B02598,141
6,7,B02598,2015-03-01 00:04:00,B02598,231
7,8,B02598,2015-03-01 00:05:00,B02764,90
8,9,B02598,2015-03-01 00:05:00,B02598,237
9,10,B02598,2015-03-01 00:05:00,B02598,90
10,11,B02598,2015-03-01 00:05:00,B02598,48
11,12,B02598,2015-03-01 00:06:00,B02598,233
12,13,B02598,2015-03-01 00:06:00,B02598,164
13,14,B02598,2015-03-01 00:06:00,B02598,142
14,15,B02598,2015-03-01 00:06:00,B02598,79
15,16,B02598,2015-03-01 00:06:00,B02765,132
16,17,B02598,2015-03-01 00:06:00,B02598,236
17,18,B02598,2015-03-01 00:06:00,B02598,161
18,19,B02598,2015-03-01 00:06:00,B02598,237
19,20,B02598,2015-03-01 00:06:00,B02598,237
20,21,B02598,2015-03-01 00:06:00,B02598,52
21,22,B02598,2015-03-01 00:07:00,B02598,17
22,23,B02598,2015-03-01 00:07:00,B02598,142
23,24,B02598,2015-03-01 00:07:00,B02598,148
24,25,B02598,2015-03-01 00:07:00,B02598,125
25,26,B02598,2015-03-01 00:07:00,B02789,68
26,27,B02598,2015-03-01 00:07:00,B02598,166
27,28,B02598,2015-03-01 00:07:00,B02617,234
28,29,B02598,2015-03-01 00:07:00,B02598,79
29,30,B02598,2015-03-01 00:08:00,B02598,125
...,...,...,...,...,...
2259743,2259744,B02765,2015-03-31 23:53:00,B02765,100
2259744,2259745,B02765,2015-03-31 23:53:00,B02617,158
2259745,2259746,B02765,2015-03-31 23:53:00,B02765,229
2259746,2259747,B02765,2015-03-31 23:53:00,B02765,255
2259747,2259748,B02765,2015-03-31 23:54:00,B02765,178
2259748,2259749,B02765,2015-03-31 23:54:00,B02774,142
2259749,2259750,B02765,2015-03-31 23:54:00,B02765,234
2259750,2259751,B02765,2015-03-31 23:54:00,B02765,232
2259751,2259752,B02765,2015-03-31 23:55:00,B02765,42
2259752,2259753,B02765,2015-03-31 23:55:00,B02765,24
2259753,2259754,B02765,2015-03-31 23:55:00,B02765,200
2259754,2259755,B02765,2015-03-31 23:55:00,B02765,198
2259755,2259756,B02765,2015-03-31 23:55:00,B02765,79
2259756,2259757,B02765,2015-03-31 23:56:00,B02765,100
2259757,2259758,B02765,2015-03-31 23:56:00,B02598,132
2259758,2259759,B02765,2015-03-31 23:56:00,B02765,132
2259759,2259760,B02765,2015-03-31 23:57:00,B02715,121
2259760,2259761,B02765,2015-03-31 23:57:00,B02765,75
2259761,2259762,B02765,2015-03-31 23:57:00,B02765,13
2259762,2259763,B02765,2015-03-31 23:57:00,B02765,144
2259763,2259764,B02765,2015-03-31 23:58:00,B02217,164
2259764,2259765,B02765,2015-03-31 23:58:00,B02765,225
2259765,2259766,B02765,2015-03-31 23:58:00,B02765,230
2259766,2259767,B02765,2015-03-31 23:58:00,B02765,162
2259767,2259768,B02765,2015-03-31 23:58:00,B02765,247
2259768,2259769,B02765,2015-03-31 23:58:00,B02765,238
2259769,2259770,B02765,2015-03-31 23:59:00,B02765,132
2259770,2259771,B02765,2015-03-31 23:59:00,B02765,48
2259771,2259772,B02765,2015-03-31 23:59:00,B02765,263
2259772,2259773,B02765,2015-03-31 23:59:00,B01985,138

In [51]:
df3 = pd.read_csv('uber-raw-data-april-15.csv')

In [52]:
df3

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,1,B02764,2015-04-01 00:56:00,B02764,228
1,2,B02764,2015-04-01 00:56:00,B02764,132
2,3,B02764,2015-04-01 00:56:00,B02682,144
3,4,B02764,2015-04-01 00:56:00,B00448,61
4,5,B02764,2015-04-01 00:56:00,B02764,238
5,6,B02764,2015-04-01 00:57:00,B02729,256
6,7,B02764,2015-04-01 00:57:00,B00111,162
7,8,B02764,2015-04-01 00:57:00,B02764,132
8,9,B02764,2015-04-01 00:57:00,B00014,90
9,10,B02764,2015-04-01 00:57:00,B02764,189
10,11,B02764,2015-04-01 00:57:00,B02764,116
11,12,B02764,2015-04-01 00:57:00,B02067,162
12,13,B02764,2015-04-01 00:57:00,B02765,239
13,14,B02764,2015-04-01 00:57:00,B01367,114
14,15,B02764,2015-04-01 00:58:00,B02764,229
15,16,B02764,2015-04-01 00:58:00,B02764,189
16,17,B02764,2015-04-01 00:58:00,B02764,68
17,18,B02764,2015-04-01 00:58:00,B02764,90
18,19,B02764,2015-04-01 00:59:00,B02764,229
19,20,B02764,2015-04-01 00:59:00,B02764,79
20,21,B02764,2015-04-01 00:59:00,B02682,246
21,22,B02764,2015-04-01 00:59:00,B00381,164
22,23,B02764,2015-04-01 00:59:00,B01875,48
23,24,B02764,2015-04-01 00:59:00,B02764,145
24,25,B02764,2015-04-01 00:59:00,B02764,249
25,26,B02764,2015-04-01 00:59:00,B02764,249
26,27,B02764,2015-04-01 00:59:00,B02729,132
27,28,B02764,2015-04-01 00:59:00,B02429,90
28,29,B02764,2015-04-01 00:59:00,B00271,100
29,30,B02764,2015-04-01 00:59:00,B02764,40
...,...,...,...,...,...
2280807,2280808,B02765,2015-04-30 23:56:00,B02617,48
2280808,2280809,B02765,2015-04-30 23:56:00,B02682,256
2280809,2280810,B02765,2015-04-30 23:56:00,B02765,158
2280810,2280811,B02765,2015-04-30 23:57:00,B02765,249
2280811,2280812,B02765,2015-04-30 23:57:00,B02765,234
2280812,2280813,B02765,2015-04-30 23:57:00,B02682,33
2280813,2280814,B02765,2015-04-30 23:57:00,B02729,158
2280814,2280815,B02765,2015-04-30 23:58:00,B02765,249
2280815,2280816,B02765,2015-04-30 23:58:00,B02765,234
2280816,2280817,B02765,2015-04-30 23:58:00,B02765,144
2280817,2280818,B02765,2015-04-30 23:58:00,B02765,233
2280818,2280819,B02765,2015-04-30 23:58:00,B02765,186
2280819,2280820,B02765,2015-04-30 23:58:00,B02765,79
2280820,2280821,B02765,2015-04-30 23:58:00,B02765,170
2280821,2280822,B02765,2015-04-30 23:58:00,B02765,90
2280822,2280823,B02765,2015-04-30 23:58:00,B02765,13
2280823,2280824,B02765,2015-04-30 23:59:00,B02765,33
2280824,2280825,B02765,2015-04-30 23:59:00,B02765,100
2280825,2280826,B02765,2015-04-30 23:59:00,B00628,249
2280826,2280827,B02765,2015-04-30 23:59:00,B02765,114
2280827,2280828,B02765,2015-04-30 23:59:00,B01875,161
2280828,2280829,B02765,2015-04-30 23:59:00,B02765,255
2280829,2280830,B02765,2015-04-30 23:59:00,B02765,113
2280830,2280831,B02765,2015-04-30 23:59:00,B02765,262
2280831,2280832,B02765,2015-04-30 23:59:00,B02765,138
2280832,2280833,B02765,2015-04-30 23:59:00,B02617,161
2280833,2280834,B02765,2015-04-30 23:59:00,B00448,161
2280834,2280835,B02765,2015-04-30 23:59:00,B02765,90
2280835,2280836,B02765,2015-04-30 23:59:00,B02765,68
2280836,2280837,B02765,2015-04-30 23:59:00,B02765,230

In [53]:
df4 = pd.read_csv('uber-raw-data-may-15.csv')

In [54]:
df4

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,1,B02764,2015-05-01 08:07:00,B02764,265
1,2,B02764,2015-05-01 08:07:00,B01949,148
2,3,B02764,2015-05-01 08:07:00,B02764,141
3,4,B02764,2015-05-01 08:07:00,B02682,223
4,5,B02764,2015-05-01 08:07:00,B02764,4
5,6,B02764,2015-05-01 08:07:00,B02764,52
6,7,B02764,2015-05-01 08:07:00,B02818,13
7,8,B02764,2015-05-01 08:07:00,B02764,200
8,9,B02764,2015-05-01 08:07:00,B00111,116
9,10,B02764,2015-05-01 08:08:00,B02764,231
10,11,B02764,2015-05-01 08:08:00,B02764,244
11,12,B02764,2015-05-01 08:08:00,B02764,141
12,13,B02764,2015-05-01 08:08:00,B02764,148
13,14,B02764,2015-05-01 08:08:00,B02764,244
14,15,B02764,2015-05-01 08:08:00,B02682,263
15,16,B02764,2015-05-01 08:08:00,B02764,10
16,17,B02764,2015-05-01 08:08:00,B02682,231
17,18,B02764,2015-05-01 08:08:00,B01899,144
18,19,B02764,2015-05-01 08:08:00,B00013,256
19,20,B02764,2015-05-01 08:08:00,B02764,14
20,21,B02764,2015-05-01 08:08:00,B02609,49
21,22,B02764,2015-05-01 08:08:00,B02401,262
22,23,B02764,2015-05-01 08:08:00,B02764,236
23,24,B02764,2015-05-01 08:08:00,B02764,76
24,25,B02764,2015-05-01 08:08:00,B02764,151
25,26,B02764,2015-05-01 08:08:00,B02764,13
26,27,B02764,2015-05-01 08:08:00,B02764,163
27,28,B02764,2015-05-01 08:08:00,B02764,263
28,29,B02764,2015-05-01 08:08:00,B02682,56
29,30,B02764,2015-05-01 08:08:00,B02729,50
...,...,...,...,...,...
2695523,2695524,B02765,2015-05-31 18:34:00,B02617,151
2695524,2695525,B02765,2015-05-31 18:34:00,B02682,137
2695525,2695526,B02765,2015-05-31 18:34:00,B02821,233
2695526,2695527,B02765,2015-05-31 18:34:00,B02765,208
2695527,2695528,B02765,2015-05-31 18:34:00,B02765,50
2695528,2695529,B02765,2015-05-31 18:34:00,B02682,158
2695529,2695530,B02765,2015-05-31 18:34:00,B02598,246
2695530,2695531,B02765,2015-05-31 18:34:00,B02765,230
2695531,2695532,B02765,2015-05-31 18:35:00,B02682,41
2695532,2695533,B02765,2015-05-31 18:35:00,B02765,230
2695533,2695534,B02765,2015-05-31 18:35:00,B02765,132
2695534,2695535,B02765,2015-05-31 18:35:00,B00789,132
2695535,2695536,B02765,2015-05-31 18:35:00,B02765,50
2695536,2695537,B02765,2015-05-31 18:35:00,B02765,263
2695537,2695538,B02765,2015-05-31 18:35:00,B02765,189
2695538,2695539,B02765,2015-05-31 18:35:00,B02003,230
2695539,2695540,B02765,2015-05-31 18:35:00,B02765,234
2695540,2695541,B02765,2015-05-31 18:35:00,B02682,79
2695541,2695542,B02765,2015-05-31 18:36:00,B02765,42
2695542,2695543,B02765,2015-05-31 18:36:00,B02765,263
2695543,2695544,B02765,2015-05-31 18:36:00,B02682,263
2695544,2695545,B02765,2015-05-31 18:36:00,B02765,50
2695545,2695546,B02765,2015-05-31 18:36:00,B02492,13
2695546,2695547,B02765,2015-05-31 18:36:00,B02765,249
2695547,2695548,B02765,2015-05-31 18:36:00,B02765,188
2695548,2695549,B02765,2015-05-31 18:36:00,B02765,50
2695549,2695550,B02765,2015-05-31 18:36:00,B02729,42
2695550,2695551,B02765,2015-05-31 18:36:00,B01197,231
2695551,2695552,B02765,2015-05-31 18:36:00,B02765,239
2695552,2695553,B02765,2015-05-31 18:36:00,B02765,112

In [55]:
df5 = pd.read_csv('uber-raw-data-june-15.csv')

In [56]:
df5

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,1,B02764,2015-06-01 10:25:00,B02682,107
1,2,B02764,2015-06-01 10:25:00,B02764,170
2,3,B02764,2015-06-01 10:25:00,B02764,237
3,4,B02764,2015-06-01 10:25:00,B02764,229
4,5,B02764,2015-06-01 10:25:00,B00013,50
5,6,B02764,2015-06-01 10:25:00,B02764,42
6,7,B02764,2015-06-01 10:25:00,B02764,137
7,8,B02764,2015-06-01 10:26:00,B01087,148
8,9,B02764,2015-06-01 10:26:00,B02764,231
9,10,B02764,2015-06-01 10:26:00,B02764,163
10,11,B02764,2015-06-01 10:26:00,B02598,130
11,12,B02764,2015-06-01 10:26:00,B02764,255
12,13,B02764,2015-06-01 10:26:00,B00789,263
13,14,B02764,2015-06-01 10:26:00,B02764,107
14,15,B02764,2015-06-01 10:26:00,B02764,236
15,16,B02764,2015-06-01 10:26:00,B02765,125
16,17,B02764,2015-06-01 10:26:00,B02765,138
17,18,B02764,2015-06-01 10:26:00,B02764,170
18,19,B02764,2015-06-01 10:26:00,B02725,229
19,20,B02764,2015-06-01 10:26:00,B00014,100
20,21,B02764,2015-06-01 10:26:00,B00013,231
21,22,B02764,2015-06-01 10:26:00,B02764,239
22,23,B02764,2015-06-01 10:26:00,B02764,158
23,24,B02764,2015-06-01 10:26:00,B02764,170
24,25,B02764,2015-06-01 10:26:00,B00628,234
25,26,B02764,2015-06-01 10:27:00,B02764,113
26,27,B02764,2015-06-01 10:27:00,B02764,181
27,28,B02764,2015-06-01 10:27:00,B02764,79
28,29,B02764,2015-06-01 10:27:00,B02764,229
29,30,B02764,2015-06-01 10:27:00,B02788,233
...,...,...,...,...,...
2816865,2816866,B02836,2015-06-30 10:26:00,B02836,33
2816866,2816867,B02836,2015-06-30 12:05:00,B02836,257
2816867,2816868,B02836,2015-06-30 12:10:00,B02836,17
2816868,2816869,B02836,2015-06-30 12:10:00,B02836,113
2816869,2816870,B02836,2015-06-30 12:20:00,B02836,181
2816870,2816871,B02836,2015-06-30 12:28:00,B02836,229
2816871,2816872,B02836,2015-06-30 13:01:00,B02836,48
2816872,2816873,B02836,2015-06-30 13:06:00,B02836,144
2816873,2816874,B02836,2015-06-30 13:11:00,B02836,112
2816874,2816875,B02836,2015-06-30 13:18:00,B02836,48
2816875,2816876,B02836,2015-06-30 13:57:00,B02836,246
2816876,2816877,B02836,2015-06-30 14:14:00,B02836,33
2816877,2816878,B02836,2015-06-30 14:19:00,B02836,17
2816878,2816879,B02836,2015-06-30 14:20:00,B02836,113
2816879,2816880,B02836,2015-06-30 14:54:00,B02836,231
2816880,2816881,B02836,2015-06-30 15:20:00,B02836,164
2816881,2816882,B02836,2015-06-30 15:41:00,B02836,246
2816882,2816883,B02836,2015-06-30 16:38:00,B02836,230
2816883,2816884,B02836,2015-06-30 17:28:00,B02836,211
2816884,2816885,B02836,2015-06-30 18:03:00,B02836,181
2816885,2816886,B02836,2015-06-30 18:14:00,B02836,256
2816886,2816887,B02836,2015-06-30 21:58:00,B02836,195
2816887,2816888,B02836,2015-06-30 22:14:00,B02836,141
2816888,2816889,B02836,2015-06-30 22:19:00,B02836,97
2816889,2816890,B02836,2015-06-30 22:36:00,B02836,186
2816890,2816891,B02836,2015-06-30 22:51:00,B02836,143
2816891,2816892,B02836,2015-06-30 22:52:00,B02836,90
2816892,2816893,B02836,2015-06-30 23:06:00,B02836,246
2816893,2816894,B02836,2015-06-30 23:20:00,B02836,107
2816894,2816895,B02836,2015-06-30 23:29:00,B02836,144

In [57]:
dff = pd.read_csv('try.txt',delimiter='\t',names=['locationID','Borough','Area'],header= None)

In [58]:
dff

     locationID        Borough                                 Area
0             2         Queens                          Jamaica Bay
1             3          Bronx              Allerton/Pelham Gardens
2             4      Manhattan                        Alphabet City
3             5  Staten Island                        Arden Heights
4             6  Staten Island              Arrochar/Fort Wadsworth
5             7         Queens                              Astoria
6             8         Queens                         Astoria Park
7             9         Queens                           Auburndale
8            10         Queens                         Baisley Park
9            11       Brooklyn                           Bath Beach
10           12      Manhattan                         Battery Park
11           13      Manhattan                    Battery Park City
12           14       Brooklyn                            Bay Ridge
13           15         Queens              Bay Terrace/Fort Totten
14           16         Queens                              Bayside
15           17       Brooklyn                              Bedford
16           18          Bronx                         Bedford Park
17           19         Queens                            Bellerose
18           20          Bronx                              Belmont
19           21       Brooklyn                     Bensonhurst East
20           22       Brooklyn                     Bensonhurst West
21           23  Staten Island              Bloomfield/Emerson Hill
22           24      Manhattan                         Bloomingdale
23           25       Brooklyn                          Boerum Hill
24           26       Brooklyn                         Borough Park
25           27         Queens  Breezy Point/Fort Tilden/Riis Beach
26           28         Queens              Briarwood/Jamaica Hills
27           29       Brooklyn                       Brighton Beach
28           30         Queens                        Broad Channel
29           31          Bronx                           Bronx Park
..          ...            ...                                  ...
235         237      Manhattan                Upper East Side South
236         238      Manhattan                Upper West Side North
237         239      Manhattan                Upper West Side South
238         240          Bronx                   Van Cortlandt Park
239         241          Bronx                Van Cortlandt Village
240         242          Bronx                 Van Nest/Morris Park
241         243      Manhattan             Washington Heights North
242         244      Manhattan             Washington Heights South
243         245  Staten Island                        West Brighton
244         246      Manhattan            West Chelsea/Hudson Yards
245         247          Bronx                       West Concourse
246         248          Bronx               West Farms/Bronx River
247         249      Manhattan                         West Village
248         250          Bronx        Westchester Village/Unionport
249         251  Staten Island                          Westerleigh
250         252         Queens                           Whitestone
251         253         Queens                        Willets Point
252         254          Bronx             Williamsbridge/Olinville
253         255       Brooklyn            Williamsburg (North Side)
254         256       Brooklyn            Williamsburg (South Side)
255         257       Brooklyn                      Windsor Terrace
256         258         Queens                            Woodhaven
257         259          Bronx                   Woodlawn/Wakefield
258         260         Queens                             Woodside
259         261      Manhattan                   World Trade Center
260         262      Manhattan                       Yorkville East
261         263      Manhattan                       Yorkville West
262         264        Unknown                              Unknown
263         265        Unknown                              Unknown
264           1            EWR                       Newark Airport

[265 rows x 3 columns]

In [59]:
dfe = pd.concat([df,df1,df2,df3,df4,df5])

In [60]:
dfe

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID
0,1,B02598,2015-01-01 15:43:04,B02598,89
1,2,B02598,2015-01-01 17:09:38,B02598,148
2,3,B02598,2015-01-01 02:10:01,B02789,164
3,4,B02598,2015-01-01 08:58:52,B02598,138
4,5,B02598,2015-01-01 16:16:43,B02598,236
5,6,B02598,2015-01-01 13:23:05,B02598,50
6,7,B02598,2015-01-01 01:54:27,B02598,142
7,8,B02598,2015-01-01 18:21:50,B02598,138
8,9,B02598,2015-01-01 02:58:23,B02764,234
9,10,B02598,2015-01-01 02:44:36,B02598,148
10,11,B02598,2015-01-01 02:58:28,B02598,148
11,12,B02598,2015-01-01 08:58:11,B02598,231
12,13,B02598,2015-01-01 12:20:01,B02598,24
13,14,B02598,2015-01-01 16:19:35,B02598,76
14,15,B02598,2015-01-01 17:52:35,B02598,211
15,16,B02598,2015-01-01 19:41:36,B02598,227
16,17,B02598,2015-01-01 10:43:19,B00789,170
17,18,B02598,2015-01-01 04:32:59,B02598,36
18,19,B02598,2015-01-01 02:31:44,B02764,145
19,20,B02598,2015-01-01 18:32:50,B02598,17
20,21,B02598,2015-01-01 02:19:16,B02598,142
21,22,B02598,2015-01-01 13:47:37,B02598,229
22,23,B02598,2015-01-01 00:41:02,B02617,163
23,24,B02598,2015-01-01 01:25:45,B02598,231
24,25,B02598,2015-01-01 02:18:14,B02598,48
25,26,B02598,2015-01-01 19:23:52,B02598,233
26,27,B02598,2015-01-01 18:07:21,B02598,65
27,28,B02598,2015-01-01 20:03:21,B02598,74
28,29,B02598,2015-01-01 05:36:46,B02598,89
29,30,B02598,2015-01-01 17:15:43,B02764,157
...,...,...,...,...,...
2816865,2816866,B02836,2015-06-30 10:26:00,B02836,33
2816866,2816867,B02836,2015-06-30 12:05:00,B02836,257
2816867,2816868,B02836,2015-06-30 12:10:00,B02836,17
2816868,2816869,B02836,2015-06-30 12:10:00,B02836,113
2816869,2816870,B02836,2015-06-30 12:20:00,B02836,181
2816870,2816871,B02836,2015-06-30 12:28:00,B02836,229
2816871,2816872,B02836,2015-06-30 13:01:00,B02836,48
2816872,2816873,B02836,2015-06-30 13:06:00,B02836,144
2816873,2816874,B02836,2015-06-30 13:11:00,B02836,112
2816874,2816875,B02836,2015-06-30 13:18:00,B02836,48
2816875,2816876,B02836,2015-06-30 13:57:00,B02836,246
2816876,2816877,B02836,2015-06-30 14:14:00,B02836,33
2816877,2816878,B02836,2015-06-30 14:19:00,B02836,17
2816878,2816879,B02836,2015-06-30 14:20:00,B02836,113
2816879,2816880,B02836,2015-06-30 14:54:00,B02836,231
2816880,2816881,B02836,2015-06-30 15:20:00,B02836,164
2816881,2816882,B02836,2015-06-30 15:41:00,B02836,246
2816882,2816883,B02836,2015-06-30 16:38:00,B02836,230
2816883,2816884,B02836,2015-06-30 17:28:00,B02836,211
2816884,2816885,B02836,2015-06-30 18:03:00,B02836,181
2816885,2816886,B02836,2015-06-30 18:14:00,B02836,256
2816886,2816887,B02836,2015-06-30 21:58:00,B02836,195
2816887,2816888,B02836,2015-06-30 22:14:00,B02836,141
2816888,2816889,B02836,2015-06-30 22:19:00,B02836,97
2816889,2816890,B02836,2015-06-30 22:36:00,B02836,186
2816890,2816891,B02836,2015-06-30 22:51:00,B02836,143
2816891,2816892,B02836,2015-06-30 22:52:00,B02836,90
2816892,2816893,B02836,2015-06-30 23:06:00,B02836,246
2816893,2816894,B02836,2015-06-30 23:20:00,B02836,107
2816894,2816895,B02836,2015-06-30 23:29:00,B02836,144

In [64]:
dfe.merge(dff,on='locationID',how='inner')

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,Borough,Area
0,1,B02598,2015-01-01 15:43:04,B02598,89,Brooklyn,Flatbush/Ditmas Park
1,29,B02598,2015-01-01 05:36:46,B02598,89,Brooklyn,Flatbush/Ditmas Park
2,87,B02598,2015-01-01 04:13:05,B02598,89,Brooklyn,Flatbush/Ditmas Park
3,316,B02598,2015-01-01 12:32:59,B00111,89,Brooklyn,Flatbush/Ditmas Park
4,359,B02598,2015-01-01 20:08:16,B02598,89,Brooklyn,Flatbush/Ditmas Park
5,529,B02598,2015-01-01 02:02:41,B02774,89,Brooklyn,Flatbush/Ditmas Park
6,1463,B02598,2015-01-01 03:16:31,B02729,89,Brooklyn,Flatbush/Ditmas Park
7,1863,B02598,2015-01-01 00:41:24,B02598,89,Brooklyn,Flatbush/Ditmas Park
8,2048,B02598,2015-01-01 00:06:54,B02764,89,Brooklyn,Flatbush/Ditmas Park
9,2528,B02598,2015-01-01 19:26:17,B02764,89,Brooklyn,Flatbush/Ditmas Park
10,2564,B02598,2015-01-01 23:22:29,B02598,89,Brooklyn,Flatbush/Ditmas Park
11,2808,B02598,2015-01-01 19:19:56,B02764,89,Brooklyn,Flatbush/Ditmas Park
12,3113,B02598,2015-01-01 01:12:25,B02598,89,Brooklyn,Flatbush/Ditmas Park
13,3629,B02764,2015-01-01 04:45:37,B02764,89,Brooklyn,Flatbush/Ditmas Park
14,3794,B02598,2015-01-01 03:58:37,B02598,89,Brooklyn,Flatbush/Ditmas Park
15,3864,B02598,2015-01-01 09:09:45,B02598,89,Brooklyn,Flatbush/Ditmas Park
16,4159,B02598,2015-01-01 12:35:44,B02598,89,Brooklyn,Flatbush/Ditmas Park
17,4948,B02598,2015-01-01 09:49:58,B02598,89,Brooklyn,Flatbush/Ditmas Park
18,4994,B02598,2015-01-01 09:49:58,B02598,89,Brooklyn,Flatbush/Ditmas Park
19,5225,B02598,2015-01-01 02:22:50,B02598,89,Brooklyn,Flatbush/Ditmas Park
20,6233,B02598,2015-01-01 13:22:10,B02598,89,Brooklyn,Flatbush/Ditmas Park
21,6884,B02598,2015-01-01 05:54:18,B02598,89,Brooklyn,Flatbush/Ditmas Park
22,6928,B02598,2015-01-01 11:07:43,B02598,89,Brooklyn,Flatbush/Ditmas Park
23,6958,B02598,2015-01-01 15:29:41,B02598,89,Brooklyn,Flatbush/Ditmas Park
24,7602,B02764,2015-01-01 21:42:44,B02764,89,Brooklyn,Flatbush/Ditmas Park
25,7655,B02764,2015-01-01 02:56:08,B02617,89,Brooklyn,Flatbush/Ditmas Park
26,8147,B02764,2015-01-01 22:54:51,B02764,89,Brooklyn,Flatbush/Ditmas Park
27,8460,B02764,2015-01-01 15:00:25,B02764,89,Brooklyn,Flatbush/Ditmas Park
28,8482,B02764,2015-01-01 00:16:16,B02764,89,Brooklyn,Flatbush/Ditmas Park
29,8490,B02764,2015-01-01 01:33:06,B02764,89,Brooklyn,Flatbush/Ditmas Park
...,...,...,...,...,...,...,...
14270449,1510028,B02764,2015-04-21 23:00:00,B02764,99,Staten Island,Freshkills Park
14270450,549550,B02764,2015-05-07 07:55:00,B02764,99,Staten Island,Freshkills Park
14270451,706182,B02682,2015-05-09 18:23:00,B02682,99,Staten Island,Freshkills Park
14270452,987219,B02764,2015-01-17 11:30:49,B02764,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270453,1679458,B02512,2015-01-28 17:10:23,B02764,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270454,1684836,B02617,2015-01-28 10:44:35,B02764,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270455,140139,B02682,2015-02-02 14:00:45,B02682,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270456,1319476,B02764,2015-02-17 12:27:37,B02764,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270457,1698121,B02764,2015-02-21 15:24:41,B02764,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270458,1994455,B02765,2015-02-25 16:05:31,B00412,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270459,129419,B02598,2015-03-03 14:55:00,B02598,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270460,429777,B02682,2015-05-06 01:09:00,B02682,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270461,1194738,B02764,2015-05-15 17:38:00,B02764,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270462,2367274,B02682,2015-05-28 20:39:00,B02682,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270463,287686,B02617,2015-06-04 20:55:00,B02617,105,Manhattan,Governor's Island/Ellis Island/Liberty Island
14270464,1094491,B02764,2015-01-18 18:33:32,B02764,264,Unknown,Unknown
14270465,1462094,B02512,2015-01-24 02:36:12,B02512,264,Unknown,Unknown
14270466,1462979,B02512,2015-01-24 02:36:12,B02512,264,Unknown,Unknown
14270467,874518,B02764,2015-02-12 17:21:07,B02518,264,Unknown,Unknown
14270468,667318,B02682,2015-03-10 09:56:00,B02682,264,Unknown,Unknown
14270469,947744,B02764,2015-04-14 20:00:00,B02764,264,Unknown,Unknown
14270470,2157760,B02682,2015-05-26 12:02:00,B02682,264,Unknown,Unknown
14270471,1428457,B02682,2015-02-19 14:00:02,B02682,2,Queens,Jamaica Bay
14270472,1882472,B02598,2015-03-27 07:08:00,B02598,2,Queens,Jamaica Bay
14270473,257597,B02764,2015-04-04 15:46:00,B02101,2,Queens,Jamaica Bay
14270474,1225767,B02682,2015-04-18 11:53:00,B02682,2,Queens,Jamaica Bay
14270475,1250848,B02764,2015-04-18 12:28:00,B02764,2,Queens,Jamaica Bay
14270476,412598,B02765,2015-05-05 13:38:00,B02510,2,Queens,Jamaica Bay
14270477,812921,B02617,2015-05-10 11:52:00,B02617,2,Queens,Jamaica Bay
14270478,728035,B02682,2015-06-08 23:23:00,B02682,2,Queens,Jamaica Bay

In [ ]:
dfe.to_csv('data.csv')