In [8]:
from datetime import datetime, timedelta

def datetime_range(start, end, delta):
    current = start
    while current < end:
        yield current
        current += delta

dts = [dt.strftime('%Y-%m-%d T%H:%M Z') for dt in 
       datetime_range(datetime(2015, 1, 1, 0), datetime(2015, 6, 30, 12), 
       timedelta(minutes=30))]


print(dts)

SyntaxError: invalid syntax (<ipython-input-8-df8b1a56330f>, line 10)

In [7]:
import pandas as pd

df = pd.DataFrame(dts)
df.head()

                     0
0  2015-01-01 T00:00 Z
1  2015-01-01 T00:30 Z
2  2015-01-01 T01:00 Z
3  2015-01-01 T01:30 Z
4  2015-01-01 T02:00 Z

In [9]:
df.to_csv('time_intervals.csv')